<% layout('layout/layout') -%>
<div style=" color: white; font-size: 14px; background-color: #0387f3; height: 1200px;">
	<div style="width: 800px; margin: auto; font-size: 16px;" >
	<h1 style= "margin-top: 0px;"> What is Ninjr </h1>
<p> Ninjr is a community of ninjas, and by that, we mean people who enjoy free speech, free thinking, </p>
<p>and discussing things that matter to them without worrying about censorship or exposing their identity.</p>
<p> Unexpected pictures, posts, facts, etc are shared on Ninjr every day where they find an audience amongst other ninjas.</p>
<p> Ninjas vote on the posts they like, and engage each other in deep discussion and banter. </p>

</br>
</br>
<h1> How does it work? </h1>
<p>Simply download the app and get started. You can post pictures, sound clips, articles, youtube videos, text posts, or anything—and all of it is anonymous.</p>
<p>Posts are sorted into global, local, or by tribes. As we are a growing app, more will be added to the community along the way.</p>
<p>Join today to be a part of shaping this growing ninja network. </p>
</br>
</br>  
 <h1> We believe in your rights </h1>
 <p>Unlike most other communities, <b>we do not restrict what you say</b> within reason. </p>
 <p>We believe in your right to <b>free speech</b>, your <b>opinion</b>, and we believe in the merits of a healthy debate. <b>No censorship.</b></p>
 <p>We also believe that <b>your data is yours</b>. When you delete a post, that is the final copy. </p>
 <p>We don’t keep it in our servers. We believe that you own the rights to your content, </p>
 <p>and <b>that means the right to delete your content from the public feed, and from our server.</b></p>
 <p>We believe in letting you and other ninjas <b>decide what to discuss, and when to discuss them.</b> </p>
 <p>At any time, you can link to a news article, a wikipedia article, take a picture, or simply pose a question to the community. </p>
 <p>We are growing a free and liberated community. As you and others grow into being a part of our community, </p>
 <p>you can make a difference right away by requesting to create a tribe, and becoming a tribe chief (coming soon!).</p>
 </br>
 </br>
<h1> For help : support@ninjrapp.com </h1> 
</div>
</div>