<!DOCTYPE html>
<!-- saved from url=(0036)http://jins-radical-site.webflow.io/ -->
<html data-wf-site="56154a593ab93bd37a7d44b1" data-wf-page="56154a593ab93bd37a7d44b2"
	data-wf-status="1"
	class="w-mod-js w-mod-no-touch w-mod-video w-mod-no-ios wf-opensans-n3-active wf-opensans-i3-active wf-opensans-n4-active wf-opensans-i4-active wf-opensans-n6-active wf-opensans-i6-active wf-opensans-n7-active wf-opensans-i7-active wf-opensans-n8-active wf-opensans-i8-active wf-active">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Ninjr - The Anonymous Ninja Network Where Anything Goes</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="generator" content="Webflow">
		<link href="/stylesheets/blogger.css" rel="stylesheet">
		<link href="/stylesheets/bloggerfont.css" rel="stylesheet">
		<script type="text/javascript">var GETSOCIAL_ID = "793804";var GETSOCIAL_LANG = "en"; (function() { var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true; po.src = '//api.at.getsocial.io/widget/v1/gs_async.js?id='+GETSOCIAL_ID; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s); })();
		</script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		  ga('create', 'UA-65315131-1', 'auto');
		  ga('send', 'pageview');
		</script>
	</head>
	<body>
		<div class="w-section ninjr-section-1">
			<div class="w-container ninjr-container-1">
				<div class="ninjr-heder">
					<ul class="w-list-unstyled w-clearfix">
						<li>
							<a href="https://twitter.com/ninjrapp">
							<img width="26"
								src="http://uploads.webflow.com/56154a593ab93bd37a7d44b1/56184d3f9380b853521643d0_TwitterButton.png">
							</a>
						</li>
						<li>
							<a href="http://ninjrapp.tumblr.com">
							<img width="26"
								src="http://uploads.webflow.com/56154a593ab93bd37a7d44b1/56184d283f68e9610a7022ba_TumblrButton.png">
							</a>
						</li>
						<li>
							<a href="https://www.facebook.com/ninjrapp">
								<img width="26"
								src="http://uploads.webflow.com/56154a593ab93bd37a7d44b1/56184c72e7b2febb5f81f15e_FacebookButton.png">
							</a>
						</li>
						<li>
							<a href="https://instagram.com/ninjrapp/">
								<img width="26" src="http://uploads.webflow.com/56154a593ab93bd37a7d44b1/561ad36f5a35dea101d72a3a_Instagrambutton.png">
							</a>
						</li>
						<li>
							<a class="ninjr-href-home" href="http://ninjrapp.com/">Home</a>
						</li>
					</ul>
				</div>
				<img class="ninjr-logo"
					src="http://uploads.webflow.com/56154a593ab93bd37a7d44b1/56184da33f68e9610a7022be_NinjrLogo.png">
					<img class="ninjr-section-1-image"
						src="http://uploads.webflow.com/56154a593ab93bd37a7d44b1/56183f6c4caf1fb95fac8b7a_MountainsandCloudsTransparent.png">
					<a class="w-inline-block" href="https://itunes.apple.com/us/app/id968448971"><img class="ninjr-apple-store-download" src="http://uploads.webflow.com/56154a593ab93bd37a7d44b1/56184e6f4caf1fb95fac8cd8_DownloadButton.png"></a>
			</div>
			<div class="ninjr-cloud-block"></div>
		</div>
		<div class="w-section ninjr-section-2">
			<div class="w-container ninjr-container-2">
				<div class="ninjr-tribe-title-text">
					<div class="ninjr-tribe-title-text"><%= post.tribe_title %></div>
					<div class="ninjr-tribe-name"><%= post.tribe_name %></div>
					<% for (var i=0; i< post.tribe_posts.length; i++){ %>
						<div class="ninjr-tribe-post-block">
							<img class="ninjr-tribe-post-image"
								src="<%= post.tribe_posts[i].image %>">
								<div class="ninjr-tribe-post-description">
									<div class="ninjr-tribe-post-poster"><%=  post.tribe_posts[i].poster %> Posted at <%=  post.tribe_posts[i].location %></div>
								</div>
								<div class="ninjr-tribe-post-text"><%=  post.tribe_posts[i].description%> </div>
						</div>
					<% } %>
				</div>
			</div>
		</div>
	</body>
</html>