<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ninjr</title>
</head>
<body>
<pre style="margin-left: 5px; margin-right: 5px; white-space: pre-wrap; word-wrap: break-word; word-break: normal; font-size: 36px;"><h1 style="font-size: 45px;">Honor Code</h1> 
    Ninjr, for the most part, is an open community where free speech is not only permitted but celebrated. There are some rules however:

Do not threaten others with real or verbal violence.

Do not spam the feed

Do not post your personal information or the personal information of others

No pornography

Do not violate copyright policies

Please observe privacy policies in your locality, state, country, etc.

Do not conduct otherwise illegal activity on this site (e.g. blackmail, terrorism, etc)
  </pre>
</body>
</html>