<% layout('layout/layout') -%>
<div style=" color: white; background-color: #0387f3; height: 500px;">
	<div style="width: 800px; margin: auto; font-size: 16px;" >
	<h1 style= "margin-top: 0px;"> The Ninjr Honor Code </h1>
	<p>Ninjr, for the most part, is an open community where free speech is not only permitted but celebrated. There are some rules however:</p>
	</br>
	<p>Do not threaten others with real or verbal violence.</p>
	<p>Do not spam the feed </p>
	<p>Do not post your personal information or the personal information of others </p>
	<p>No pornography </p>
	<p>Do not violate copyright policies </p>
	<p>Please observe privacy policies in your locality, state, country, etc.</p>
	<p>Do not conduct otherwise illegal activity on this site (e.g. blackmail, terrorism, etc)</p>
	</div>
</div>