<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ninjr</title>
    <meta name="description" content="nodeJS Template">
    <!-- styles -->
    <link href="/stylesheets/mobile.css" rel="stylesheet">
    <script src="/lib/jquery/jquery-2.1.1.min.js"></script>
    <script src="/lib/jquery/jquery.innerfade.min.js"></script>
    <script>
      $(document).ready(function(){
          $("#Rectangle4").innerFade({
            animationtype: 'fade',
            speed: 750,
            timeout: 3000,
            type: 'sequence',
            containerheight: '1em'
          });
      });
    </script>
</head>

<body>
  <main>
    <section class="bannerSection">
      <img src="img/index/ninjrcookiebanner.png" width='150' style="margin-left: 40px; margin-top:0px; float: left;">

      <div class="mainHeader">

          <a href="/aboutus">ABOUT US</a>
          <a href="https://www.facebook.com/ninjrapp"><img src="img/fIcon.png" width="40"></a>
          <a href="https://twitter.com/ninjrapp"><img src="img/ttIcon.png" width="40"></a>
          <a href="http://ninjrapp.tumblr.com"><img src="img/tbIcon.png" width="40"></a>
      </div>
      <img src="img/mobileLogoHead.png" width='300' height='300'>
      <img src="img/common/ninjr-text-logo.png" width='400' >
      <div class="message">Share snaps, videos, and thoughts anonymously with the World. Chat and meet with anyone from anywhere.</div>
      <img class="iphoneImage" src="img/DownloadonAppSTore.png" width="430">
      <img class="androidImage" src="img/DownloadonAndroid.png" width="430">
    </section>
    <section>
      <h1 style="line-height: 1em;">Many Interests, One Community</h1>
      <div class='message'>
         Ninjr is diverse because people are diverse. Some like to talk about politics, while others use our confession booth or post selfies.
      </div>
      <img src="http://d1ykfg4qvj77lm.cloudfront.net/web/home-section-1.png">
    </section>
    <section>
      <h1>Post Anything</h1>
      <div class='message'>
          Whether it's picture, a video, or a song you just thought of, you can share it right away. No strings attached. What happens on Ninjr, stays on Ninjr. 
      </div>
      <img src="img/index/intro3.png">
    </section>
    <section>
      <img src="img/index/KimJongUn.png"/>
      <h1>DISCUSS FREELY</h1>
      <div class='message'>
          and anonymously with anyone in the world. Politically correct or not, go for it. Fuck censorship. This isn't North Korea.
      </div>
      <img src="img/index/intro4.png">
    </section>
    <section>
      <h1>STAR</h1>
      <div class='message'>
        What you like.
      </div>
      <img src="img/FourthPhoneAMobile.png">
      <h1>TOMATO</h1>
      <div class='message'>
        What you don&#39;t.
      </div>
      <img src="img/FourthPhoneBMobile.png">
    </section>
    <section>
      <h1 style="line-height: 1em;">Play Ninjrs Against Humanity</h1>
      <div class='message'>
        Bond with new people you meet through the Ninjr app.
      </div>
      <img src="http://d1ykfg4qvj77lm.cloudfront.net/web/home-section-5.png">
    </section>
  </main>

  <footer>
    <div>
      <div class="header">BE A <span class="yellowNinjr">NINJR</span> TODAY</div>
      <img class="iphoneImage" src="img/DownloadonAppSTore.png" width="300">
      <img class="androidImage" src="img/DownloadonAndroid.png" width="300">
      <div class="footerLinks">
            <a href="/terms">TERM OF SERVICE</a>
            <a href="/privacy">PRIVACY</a>
            <a href="/aboutus">ABOUT US</a>
            <a href="https://www.facebook.com/ninjrapp"><img src="img/fIcon.png" ></a>
            <a href="https://twitter.com/ninjrapp"><img src="img/ttIcon.png" ></a>
            <a href="http://ninjrapp.tumblr.com"><img src="img/tbIcon.png" ></a>
          </div>
    </div>
  </footer>
</body>
</html>