<!DOCTYPE html>
<html data-wf-site="56154a593ab93bd37a7d44b1" data-wf-page="56154a593ab93bd37a7d44b2"
  data-wf-status="1"
  class="w-mod-js w-mod-no-touch w-mod-video w-mod-no-ios wf-opensans-n3-active wf-opensans-i3-active wf-opensans-n4-active wf-opensans-i4-active wf-opensans-n6-active wf-opensans-i6-active wf-opensans-n7-active wf-opensans-i7-active wf-opensans-n8-active wf-opensans-i8-active wf-active">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta charset="utf-8">
        <title>Ninjr - The Anonymous Ninja Network Where Anything Goes</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="generator" content="Webflow">
            <link href="/stylesheets/index.css" rel="stylesheet">
                <script type="text/javascript">var GETSOCIAL_ID = "793804";var
                  GETSOCIAL_LANG = "en"; (function() { var po =
                  document.createElement('script'); po.type = 'text/javascript';
                  po.async = true; po.src =
                  '//api.at.getsocial.io/widget/v1/gs_async.js?id='+GETSOCIAL_ID;
                  var s = document.getElementsByTagName('script')[0];
                  s.parentNode.insertBefore(po, s); })();
                </script>
                <script>
                  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new
                  Date();a=s.createElement(o),
                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                  ga('create', 'UA-65315131-1', 'auto');
                  ga('send', 'pageview');
                </script>
  </head>
  <body class="">
    <div class="w-editor-mount">
      <div class="w-editor-bem-EditorApp ">
        <span class="w-editor-body">
          <div class="w-section ninjr-section-1" >
            <div class="w-container ninjr-index-container-1" >
              <div class="ninjr-heder">
                <ul class="w-list-unstyled w-clearfix">
                  <li>
                    <a href="https://www.facebook.com/ninjrapp"><img class=""
                      src="https://daks2k3a4ib2z.cloudfront.net/56154a593ab93bd37a7d44b1/56184d3f9380b853521643d0_TwitterButton.png"
                      width="26" alt=""></a>
                  </li>
                  <li>
                    <a href="https://instagram.com/ninjrapp/"><img class=""
                      src="https://daks2k3a4ib2z.cloudfront.net/56154a593ab93bd37a7d44b1/561ad36f5a35dea101d72a3a_Instagrambutton.png"
                      width="26" alt=""></a>
                  </li>
                  <li class="">
                    <a href="http://ninjrapp.tumblr.com"><img class=""
                      src="https://daks2k3a4ib2z.cloudfront.net/56154a593ab93bd37a7d44b1/56184d283f68e9610a7022ba_TumblrButton.png"
                      width="26" alt=""></a>
                  </li>
                  <li class="">
                    <a href="https://www.facebook.com/ninjrapp"><img class=""
                      src="https://daks2k3a4ib2z.cloudfront.net/56154a593ab93bd37a7d44b1/56184c72e7b2febb5f81f15e_FacebookButton.png"
                      width="26" alt=""></a>
                  </li>
                  <li class="">
                    <a class="ninjr-href-home" href="aboutus">ABOUT US</a>
                  </li>
                </ul>
              </div>
              <div class="ninjr-index-div-block-1">
                <img class="ninjr-index-title"
                  src="https://daks2k3a4ib2z.cloudfront.net/56154a593ab93bd37a7d44b1/5629305f40f06d706db4222c_NinjrMainLogo.png"
                  alt="">
                  <div class="ninjr-index-description">Anonymous fun with the world.</div>
                  <a href="https://itunes.apple.com/us/app/id968448971"><img style="cursor: pointer;" class="ninjr-index-download-button"
                    src="https://daks2k3a4ib2z.cloudfront.net/56154a593ab93bd37a7d44b1/56184e6f4caf1fb95fac8cd8_DownloadButton.png"
                    alt=""></a>
              </div>
              <div class="ninjr-index-div-block-2">
                <img class="ninjr-index-mountain-image"
                  src="https://daks2k3a4ib2z.cloudfront.net/56154a593ab93bd37a7d44b1/56183f6c4caf1fb95fac8b7a_MountainsandCloudsTransparent.png"
                  alt="">
              </div>
              <img class="ninjr-index-main-image"
                src="https://daks2k3a4ib2z.cloudfront.net/56154a593ab93bd37a7d44b1/56292dc4de7b35c54116d451_MainImage.png"
                width="450" alt="">
            </div>
            <div class="ninjr-index-cloud-block"></div>
          </div>
          <div class="w-section ninjr-index-section-2" id="ninjr-index-section-2">
            <div class="w-container ninjr-index-container-2">
              <div class="w-row ninjr-index-row-1">
                <div class="w-col w-col-6">
                  <div class="ninjr-index-div-block-3">
                    <h1 class="ninjr-index-title-2">Pick&nbsp;a
                      topic.
                    </h1>
                    <p class="ninjr-index-description-2">Finding
                      what you want to talk about is easy. Discover what you want
                      by
                      browsing the feed or find specific topics by looking at
                      tribes.&nbsp;
                    </p>
                  </div>
                </div>
                <div class="w-col w-col-6">
                  <img class="ninjr-index-phone-image-1"
                    src="https://daks2k3a4ib2z.cloudfront.net/56154a593ab93bd37a7d44b1/5629cbdb752321c31a5e130b_Panel1Image.png"
                    width="350" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="w-section ninjr-index-section-3" id="ninjr-index-section-2">
            <div class="w-container ninjr-index-container-3">
              <div class="w-row ninjr-index-row-2">
                <div class="w-col w-col-6 w-clearfix ninjr-index-column-3">
                  <img class="ninjr-index-phone-image-2"
                    src="https://daks2k3a4ib2z.cloudfront.net/56154a593ab93bd37a7d44b1/5629ceac752321c31a5e1355_Panel2Image.png"
                    width="415" alt="">
                </div>
                <div class="w-col w-col-6">
                  <div class="ninjr-index-div-block-3">
                    <h1 class="ninjr-index-title-2">Meet a friend</h1>
                    <p class="ninjr-index-description-2">It's
                      easy to see where people are posting, and add to your list of
                      international and domestic friends in case you want to
                      travel.&nbsp;
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-section ninjr-index-section-2" id="ninjr-index-section-2">
            <div class="w-container ninjr-index-container-2">
              <div class="w-row ninjr-index-row-1">
                <div class="w-col w-col-6">
                  <div class="ninjr-index-div-block-3">
                    <h1 class="ninjr-index-title-2">Be Your Self.</h1>
                    <p class="ninjr-index-description-2">There's no pressure to be fake or politically
                      correct, because everything is anonymous. Express yourself.
                      Be
                      yourself.</p>
                  </div>
                </div>
                <div class="w-col w-col-6">
                  <img class="ninjr-index-phone-image-1"
                    src="https://daks2k3a4ib2z.cloudfront.net/56154a593ab93bd37a7d44b1/562a6d691cf358d1737ca042_Panel3Image.png"
                    width="350" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="w-section ninjr-index-section-5" id="ninjr-index-section-2">
            <div class="w-container ninjr-index-container-5">
              <div class="w-row ninjr-index-row-1">
                <div class="w-col w-col-6">
                  <img class="ninjr-index-phone-image-3"
                    src="https://daks2k3a4ib2z.cloudfront.net/56154a593ab93bd37a7d44b1/562c609a93814251664a9895_intro5-up.png"
                    alt="">
                </div>
                <div class="w-col w-col-6">
                  <div class="ninjr-index-div-block-4">
                    <h1 class="ninjr-index-title-2">STAR</h1>
                    <p class="ninjr-index-description-3">What&nbsp;you
                      like.
                    </p>
                  </div>
                </div>
              </div>
              <div class="w-row ninjr-index-row-1">
                <div class="w-col w-col-6">
                  <div class="ninjr-index-div-block-4">
                    <h1 class="ninjr-index-title-2">TOMATO</h1>
                    <p class="ninjr-index-description-3">What you don't.</p>
                  </div>
                </div>
                <div class="w-col w-col-6">
                  <img class="ninjr-index-phone-image-5"
                    src="https://daks2k3a4ib2z.cloudfront.net/56154a593ab93bd37a7d44b1/562b19b210adfdf36147cb3d_intro5-down.png"
                    alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="w-section ninjr-index-section-4" id="ninjr-index-section-2">
            <div class="w-container ninjr-index-container-3">
              <div class="w-row ninjr-index-row-2">
                <div class="w-col w-col-6 ninjr-index-column-3">
                  <img class="ninjr-index-phone-image-4"
                    src="https://daks2k3a4ib2z.cloudfront.net/56154a593ab93bd37a7d44b1/562a804feae1f5380d44e757_Panel5Image.png"
                    width="420" alt="">
                </div>
                <div class="w-col w-col-6">
                  <div class="ninjr-index-div-block-5">
                    <h1 class="ninjr-index-title-2">No&nbsp;limits
                    </h1>
                    <p class="ninjr-index-description-4">Post whatever you want.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-section ninjr-index-section-6">
            <div class="w-container ninjr-index-container-6">
              <div class="ninjr-index-div-block-6">
                <h1 class="ninjr-index-div-block-6-title">
                  BE A
                  <span data-w-id="e3e1d635" class="ninjr-index-div-block-6-title-span">NINJR</span>&nbsp;TODAY&nbsp;
                </h1>
              </div>
              <div class="ninjr-index-div-block-7">
                <div class="w-row">
                  <div class="w-col w-col-6 w-clearfix">
                    <a href="https://itunes.apple.com/us/app/id968448971"><img class="ninjr-index-button-apple-download"
                      src="https://daks2k3a4ib2z.cloudfront.net/56154a593ab93bd37a7d44b1/56184e6f4caf1fb95fac8cd8_DownloadButton.png"
                      width="250" alt=""></a>
                  </div>
                  <div class="w-col w-col-6 w-clearfix">
                    <a><img class="ninjr-index-button-android-download"
                      src="https://daks2k3a4ib2z.cloudfront.net/56154a593ab93bd37a7d44b1/562b1f40b706830b39789876_DownloadonAndroid.png"
                      width="250" alt="">
                  </div>
                </div>
              </div>
              <div class="ninjr-index-div-block-8"
                data-reactid=".0.0.$3af0a119-5d52-2803-2e7e-82c1c60bf41c.$991e3153-18af-4131-4284-7f22795dfb2e.$d043165e-970f-5e7f-1954-832c8c4f6961">
                <ul class="w-list-unstyled w-clearfix ninjr-index-button-list">
                  <li class="ninjr-index-button-list-item">
                    <a class="ninjr-href-home" href="/">NINJR</a>
                  </li>
                  <li class="ninjr-index-button-list-item">
                    <a class="ninjr-href-home" href="/terms">TERMS OF SERVICE</a>
                  </li>
                  <li class="ninjr-index-button-list-item">
                    <a class="ninjr-href-home" href="/privacy">PRIVACY</a>
                  </li>
                  <li class="ninjr-index-button-list-item">
                    <a class="ninjr-href-home" href="/aboutus">ABOUT</a>
                  </li>
                  <li class="ninjr-index-button-list-item">
                     <a href="https://www.facebook.com/ninjrapp"><img class="ninjr-bottom-fb-image"
                      src="https://daks2k3a4ib2z.cloudfront.net/56154a593ab93bd37a7d44b1/56184c72e7b2febb5f81f15e_FacebookButton.png"
                      width="30" alt=""></a>
                  </li>
                  <li class="ninjr-index-button-list-item">
                    <a href="https://twitter.com/ninjrapp"><img class=""
                      src="https://daks2k3a4ib2z.cloudfront.net/56154a593ab93bd37a7d44b1/56184d3f9380b853521643d0_TwitterButton.png"
                      width="30" alt=""></a>
                  </li>
                  <li class="ninjr-index-button-list-item">
                     <a href="http://ninjrapp.tumblr.com"><img class=""
                      src="https://daks2k3a4ib2z.cloudfront.net/56154a593ab93bd37a7d44b1/56184d283f68e9610a7022ba_TumblrButton.png"
                      width="30" alt=""></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </span>
      </div>
    </div>
  </body>
</html>