<!DOCTYPE html>
<html data-wf-site="55f468cc11da8d083ed6e935" data-wf-page="55f468cc11da8d083ed6e938"
  class="w-mod-js w-mod-no-touch w-mod-video w-mod-no-ios wf-roboto-n5-active wf-robotocondensed-n3-active wf-robotocondensed-n4-active wf-robotocondensed-n7-active wf-robotoslab-n3-active wf-robotoslab-n4-active wf-robotoslab-n7-active wf-arbutusslab-n4-active wf-opensans-i8-active wf-roboto-n3-active wf-roboto-n4-active wf-opensans-n3-active wf-opensans-i3-active wf-opensans-n4-active wf-opensans-i4-active wf-opensans-n6-active wf-opensans-i6-active wf-opensans-n7-active wf-opensans-i7-active wf-opensans-n8-active wf-active gr__ssssssssssssssss_webflow_io">
<head>
    <title>NinjrCookie - Create and Buy Horrible Fortune Cookies.</title>
    <meta property="description" content="Ninjr Cookie are horrible fortune cookies created by equally horrible people. Anyone can submit a fortune through the Ninjr app, and if the fortune is terrible enough, we print it."/>
    <meta property="fb:app_id" content="368300913329789"/>
    <meta property="og:url"  content="http://ninjrapp.com/ninjrcookie" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Ninjr Cookie" />
    <meta property="og:description" content="Fortune cookies created by and for horrible people. Create some terrible fortunes to spread to your friends and/or enemies. #ninjrcookie" />
    <meta property="og:image" content="http://d1ykfg4qvj77lm.cloudfront.net/NinjrCookieFBShare.png"/>
    <meta property="og:image:width" content="1200"/>
    <meta proeprty="og:image:height" content="600"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/stylesheets/cookie.css" rel="stylesheet">
    <script type="text/javascript" src="/lib/modernizr-2.7.1.js"></script>
    <title>Ninjr Cookie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-65315131-1', 'auto');
  ga('send', 'pageview');
</script>
</head>
<body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=368300913329789";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <a href="http://ninjrapp.com"><img class="ninjrhome-ribbon" style="position: absolute; top: 0; left: 0; border: 0; z-index: 99;" src="https://s3.amazonaws.com/media.stealthie.io/static/web/GoToNinjrButton.png" alt="Go to NinjrApp"></a>

    <div class="w-section section main" id="top">
      <div class="w-container intro-container">
        <div class="rightHeader" style="float: right; margin-top: 5px;">
          <div style="float: right; margin-right:10px;" class="fb-share-button" data-href="http://ninjrapp.com/ninjrcookie" data-layout="button_count"></div>
          <div style="float: right; margin-right:10px;" class="fb-like" data-href="http://ninjrapp.com/ninjrcookie" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>      
          <div style="float: right; margin-right:10px;">
            <a href="https://twitter.com/share" data-text="Fortune cookies created by and for horrible people. Create some terrible fortunes to spread to your friends and/or enemies. #ninjrcookie" data-count="horizontal" class="twitter-share-button"></a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </div>
        </div>
        
        <div class="w-slider intro-image-slider" data-animation="slide"
          data-duration="600" data-infinite="1">

          <div class="w-slider-mask mask">
            <div class="w-slide intro-slider-1" style="transform: translateX(0px); opacity: 1;"></div>
            <div class="w-slide intro-slider-2" style="transform: translateX(0px); opacity: 1;"></div>
            <div class="w-slide intro-slider-3" style="transform: translateX(0px); opacity: 1;"></div>
            <div class="w-slide intro-slider-4" style="transform: translateX(0px); opacity: 1;"></div>
            <div class="w-slide intro-slider-5" style="transform: translateX(0px); opacity: 1;"></div>
            <div class="w-slide intro-slider-6" style="transform: translateX(0px); opacity: 1;"></div>
            <div class="w-slide intro-slider-7" style="transform: translateX(0px); opacity: 1;"></div>
          </div>
          <div class="w-slider-arrow-left intro-left-arrow">
            <div class="w-icon-slider-left main-left-icon"></div>
          </div>
          <div class="w-slider-arrow-right intro-right-arrow">
            <div class="w-icon-slider-right main-right-icon"></div>
          </div>
          <div class="w-slider-nav w-round intro-slider-nav">
            <div class="w-slider-dot w-active" data-wf-ignore=""></div>
            <div class="w-slider-dot" data-wf-ignore=""></div>
            <div class="w-slider-dot" data-wf-ignore=""></div>
            <div class="w-slider-dot" data-wf-ignore=""></div>
            <div class="w-slider-dot" data-wf-ignore=""></div>
            <div class="w-slider-dot" data-wf-ignore=""></div>
            <div class="w-slider-dot" data-wf-ignore=""></div>
          </div>
        </div>
        <img class="intro-title" width="200"
          src="http://d1ykfg4qvj77lm.cloudfront.net/web/NinjrCookieBlackLabel.png">
          <p class="intro-paragraph">Fortune cookies created by and for horrible people.</p>
      </div>
    </div>
    <div class="w-section section cookie-section" id="top">
      <div class="w-container how-this-works-image">
          <h1 class="how-this-works-title">WHAT&nbsp;ARE&nbsp;NINJR&nbsp;COOKIES?
          </h1>
          <p class="how-this-works-paragraph">
            Ninjr Cookies are politically incorrect fortune cookies. Some of
            it--ok most of it--is not safe for work and/or life.
            <br>
              <br>
                <strong>HOW</strong>&nbsp;
                <strong>WE</strong>&nbsp;
                <strong>COME</strong>&nbsp;
                <strong>UP</strong>&nbsp;
                <strong>WITH</strong>&nbsp;
                <strong>FORTUNES</strong>
                <br>
                  We create and crowd-source our fortunes through the <a href="//ninjrapp.com">Ninjr app</a>,
                  and turn them into real life fortune cookies through the magic
                  of child labor. You can make a suggestion below or on our app
                  and we will throw it to our factory slaves--er...elves if it
                  passes muster.
          </p>
      </div>
    </div>
    <div class="w-section section suggestion-section" id="top">
      <div class="w-container suggestion-container">
          <div class="w-form">
              <div class="submit-wrapper">
                <input class="w-input submit-input" id="name" type="text" placeholder="Suggest a fortune" name="text" data-name="Name">
                <input class="w-button submit-button" type="submit" value="Submit" data-wait="Please wait...">
                <p class="submit-success-msg">Cool beans. Get some free cookies on the <a href="//ninjrapp.com">Ninjr App</a></p>
              </div>
              <div class="text-list">
                <a class="w-button button loadmore" href="#">Load More</a>
              </div>
            <!-- <div class="w-form-done success-message">
               <p>Cool beans. Check out some more on the <a href="//ninjrapp.com">Ninjr App</a></p>
             </div> -->
            <!-- <div class="w-form-fail">
              <p>Oops! Something went wrong while submitting the form</p>
            </div> -->
          </div>
      </div>
    </div>
    <div class="w-section section faq-section">
      <div class="w-container faq-container">
        <h1 class="faq-title">Frequently Asked Questions</h1>
        <div class="w-dropdown faq-dropdown" data-delay="0">
          <div class="w-dropdown-toggle dropdown-toggle">
            <div class="dropdown-text-block">Is this legit?</div>
            <div class="w-icon-dropdown-toggle"></div>
          </div>
          <nav class="w-dropdown-list dropdown-list-a">
            <a class="w-dropdown-link dropdown-list-a-text" href="#">Yes.</a>
          </nav>
        </div>
        <div class="w-dropdown faq-dropdown" data-delay="0">
          <div class="w-dropdown-toggle dropdown-toggle">
            <div class="dropdown-text-block">Why are you doing this?</div>
            <div class="w-icon-dropdown-toggle"></div>
          </div>
          <nav class="w-dropdown-list dropdown-list-a">
            <a class="w-dropdown-link dropdown-list-a-text" href="#">
              We love fortune cookies, but the fortunes have gotten stale. Fortune cookies have become the participation trophies of the cookie world.who are the soulless, hippie writers of today's bland fortune cookies? Whoever you are: we're pissed off, and changing this shit.
            </a>
          </nav>
        </div>
        <div class="w-dropdown faq-dropdown" data-delay="0">
          <div class="w-dropdown-toggle dropdown-toggle">
            <div class="dropdown-text-block">There were stains on the box. Care to explain?</div>
            <div class="w-icon-dropdown-toggle"></div>
          </div>
          <nav class="w-dropdown-list dropdown-list-a">
            <a class="w-dropdown-link dropdown-list-a-text" href="#">
              Sorry. Sometimes the five year olds we hire miss their families
              and cry. Don’t worry, we’ll make sure to handle it so it never happens
                again.
            </a>
          </nav>
        </div>
        <div class="w-dropdown faq-dropdown" data-delay="0">
          <div class="w-dropdown-toggle dropdown-toggle">
            <div class="dropdown-text-block">Why do you hire children?</div>
            <div class="w-icon-dropdown-toggle"></div>
          </div>
          <nav class="w-dropdown-list dropdown-list-a">
            <a class="w-dropdown-link dropdown-list-a-text" href="#">Have you
              seen how small their fingers are?</a>
          </nav>
        </div>
        <div class="w-dropdown faq-dropdown" data-delay="0">
          <div class="w-dropdown-toggle dropdown-toggle">
            <div class="dropdown-text-block">You know hiring children is illegal though, right?</div>
            <div class="w-icon-dropdown-toggle"></div>
          </div>
          <nav class="w-dropdown-list dropdown-list-a">
            <a class="w-dropdown-link dropdown-list-a-text" href="#">Not if
              they’re family. Big thanks to my aunts and uncles.</a>
          </nav>
        </div>
        <div class="w-dropdown faq-dropdown" data-delay="0">
          <div class="w-dropdown-toggle dropdown-toggle">
            <div class="dropdown-text-block">How will cookies be shipped?</div>
            <div class="w-icon-dropdown-toggle"></div>
          </div>
          <nav class="w-dropdown-list dropdown-list-a">
            <a class="w-dropdown-link dropdown-list-a-text" href="#">In a plain
              brown box.</a>
          </nav>
        </div>
        <div class="w-dropdown faq-dropdown" data-delay="0">
          <div class="w-dropdown-toggle dropdown-toggle">
            <div class="dropdown-text-block">How much does it cost?</div>
            <div class="w-icon-dropdown-toggle"></div>
          </div>
          <nav class="w-dropdown-list dropdown-list-a">
            <a class="w-dropdown-link dropdown-list-a-text" href="#">$9.99 for
              20 or $33.99 for 120.</a>
          </nav>
        </div>
        <div class="w-dropdown faq-dropdown" data-delay="0">
          <div class="w-dropdown-toggle dropdown-toggle">
            <div class="dropdown-text-block">Do your cookies taste different?</div>
            <div class="w-icon-dropdown-toggle"></div>
          </div>
          <nav class="w-dropdown-list dropdown-list-a">
            <a class="w-dropdown-link dropdown-list-a-text" href="#">Our blend
              is crispier, crunchier, and a little zingier than the typical
              fortune cookie.</a>
          </nav>
        </div>
        <div class="w-dropdown faq-dropdown" data-delay="0">
          <div class="w-dropdown-toggle dropdown-toggle">
            <div class="dropdown-text-block">Is there a limit on the types of fortunes I can
              write?</div>
            <div class="w-icon-dropdown-toggle"></div>
          </div>
          <nav class="w-dropdown-list dropdown-list-a">
            <a class="w-dropdown-link dropdown-list-a-text" href="#">We set the
              line at just below Hitler. Don’t cross that line, buddy.</a>
          </nav>
        </div>
        <div class="w-dropdown faq-dropdown" data-delay="0">
          <div class="w-dropdown-toggle dropdown-toggle">
            <div class="dropdown-text-block">Do you print everything?</div>
            <div class="w-icon-dropdown-toggle"></div>
          </div>
          <nav class="w-dropdown-list dropdown-list-a">
            <a class="w-dropdown-link dropdown-list-a-text" href="#">No, just
              the good shit.</a>
          </nav>
        </div>
      </div>
    </div>
    <div class="w-section section review-section" id="customers">
      <div class="w-container review-container">
        <h2 class="review-title">What our customers say</h2>
        <div class="w-slider testimonial-slider" data-animation="slide"
          data-duration="500" data-infinite="1">
          <div class="w-slider-mask">
            <div class="w-slide testimony-slide" style="transform: translateX(0px); opacity: 1;">
              <img class="review-image-1" width="150"
                src="http://d1ykfg4qvj77lm.cloudfront.net/web/image1.png">
                <p class="testimony-text">
                  Thanks to Ninjr Cookie, my self esteem has never been higher.”
                  <br>
                    -
                    <em>Li Tou Dong, 2015</em>
                </p>
            </div>
            <div class="w-slide testimony-slide" style="transform: translateX(0px); opacity: 1;">
              <img class="review-image-1" width="150"
                src="http://d1ykfg4qvj77lm.cloudfront.net/web/image2.png">
                <p class="testimony-text">
                  Ninjr cookie was all the motivation I needed to get a job and
                  stop being a broke ass.
                  <br>
                    -
                    <em>Gemini Jackson, 2013</em>
                </p>
            </div>
            <div class="w-slide testimony-slide" style="transform: translateX(0px); opacity: 1;">
              <img class="review-image-1" width="150"
                src="http://d1ykfg4qvj77lm.cloudfront.net/web/image3.png">
                <p class="testimony-text">
                  Thanks a lot Ninjr cookie! We lost all our savings, and I have
                  to pimp out my wife every Wednesday to put my two daughters
                  through college! Thanks a fucking lot!
                  <br>
                    -
                    <em>Anonymous, 2000</em>
                </p>
            </div>
            <div class="w-slide testimony-slide" style="transform: translateX(0px); opacity: 1;">
              <img class="review-image-1" width="150"
                src="http://d1ykfg4qvj77lm.cloudfront.net/web/image4.png">
                <p class="testimony-text">
                  How did you guys know I run a sperm bank?
                  <br>
                    -
                    <em>Helga Splashback, 2005</em>
                </p>
            </div>
            <div class="w-slide testimony-slide" style="transform: translateX(0px); opacity: 1;">
              <img class="review-image-1" width="150"
                src="http://d1ykfg4qvj77lm.cloudfront.net/web/image5.png">
                <p class="testimony-text">
                  Ninjr cookie gave me the surest sign that I should come out to
                  the rest of my family. Thanks Ninjr cookie! Now I’m out, proud,
                  and living the life!
                  <br>
                    -
                    <em>Cory Anderson, 2009</em>
                </p>
            </div>
            <div class="w-slide testimony-slide" style="transform: translateX(0px); opacity: 1;">
              <img class="review-image-1" width="150"
                src="http://d1ykfg4qvj77lm.cloudfront.net/web/image6.png">
                <p class="testimony-text">
                  Until Ninjr cookie, every day passed by as if I was immortal.
                  Thanks to Ninjr cookie, I’ve realized that I’ve wasted the last
                  80 years of my life procrastinating on my dreams, and will now
                  finally work to my full potential.
                  <br>
                    -
                    <em>Koyo Nono, 2015</em>
                </p>
            </div>
          </div>
          <div class="w-slider-arrow-left slider-arrow">
            <div class="w-icon-slider-left"></div>
          </div>
          <div class="w-slider-arrow-right slider-arrow">
            <div class="w-icon-slider-right"></div>
          </div>
          <div class="w-slider-nav w-round slide-nav">
            <div class="w-slider-dot w-active" data-wf-ignore=""></div>
            <div class="w-slider-dot" data-wf-ignore=""></div>
            <div class="w-slider-dot" data-wf-ignore=""></div>
            <div class="w-slider-dot" data-wf-ignore=""></div>
            <div class="w-slider-dot" data-wf-ignore=""></div>
            <div class="w-slider-dot" data-wf-ignore=""></div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-section section">
      <div class="w-container paypal-container">
        <h1 class="paypal-title">How to buy a box</h1>
        <p>Want
          to&nbsp;buy&nbsp;some
          today?&nbsp;Get
          30 for $9.99 and 120 for $33.99
        </p>
        <div class="paypal-block">
          <div class="w-embed paypal-form">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="AY4FSXPFGPY8C">
              <table style="margin: 0px auto 20px auto;">
              <tr style="display: none;"><td><input type="hidden" name="on0" value="Options">Options</td></tr><tr><td><select name="os0">
                <option value="30">30 $9.99 USD</option>
                <option value="120">120 $33.99 USD</option>
              </select> </td></tr>
              </table>
              <input type="hidden" name="currency_code" value="USD">
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="w-section section footer copyright">
      <div class="w-container copy-right-container">
        <div class="copy-right-text">© Copyright Stealthie, Inc. 2015.</div>
      </div>
    </div>
    <script type="text/javascript" src="/lib/jquery/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/lib/webflow.js"></script>
    <script>
      $( document ).ready(function(){
        getNewestText(9007199254740992, 50);

        $(".submit-button").click(function(){
          var text = $(".submit-input").val();
          var encodeText = encodeURIComponent(text);
          console.log(encodeText);
          $.ajax({
            type: "post",
            url: "/createtext?text="+encodeText,             
            success : function(data){
              $(".text-list").prepend("<li class='text'>"+text+"</li>");
              $(".submit-input").val("");
              $(".submit-success-msg").show();
            }
          });
        });

        function getNewestText(text_id, limit){
          $.ajax({
            type: "get",
            url: "/getnewesttexts?text_id="+text_id+"&limit="+limit,             
            success : function(data){
              if(data.data.length == 0) {
                alert("Oops, no more fortunes. Fill it up with some suggestions, yo.");
                return;
              }
              $.each(data.data, function(i, val){
                  $("<li class='text'>"+val.body+"</li>").insertBefore(".loadmore");
              })
              $(".loadmore").attr("data-text_id",  data.data[data.data.length-1].id);
            }
          });
        }

        $(".loadmore").click(function(){
          var text_id =$(this).attr("data-text_id");
          getNewestText(text_id, 50);
        })
      });
    </script>
</body>
<span class="gr__tooltip">
  <span class="gr__tooltip-content"></span>
  <i class="gr__tooltip-logo"></i>
  <span class="gr__triangle"></span>
</span>
</html>