<% layout('layout/postLayout') -%>
<script>
$( document ).ready(function(){
	$(".parent-comment-description").each(function(i,val){
		var length = $(this).html().length;
		console.log(length);
		if(length < 140){
			$(this).parent().find(".parent-comment-close").hide();
			$(this).css({'height': 'auto'});
		}else{
			//$(this).css({'height': '44px'});
		}
	});

	$(".parent-comment-description, .parent-comment-close, .parent-comment-geo-time").click(function(){
		var parent = $(this).parent();
		var current = parent.find(".parent-comment-close>span").html();
		var length = parent.find(".parent-comment-description").html().length;
		console.log(length);
		if(length < 140) return;

		console.log(current);
		if(current == "Close"){
			parent.find(".parent-comment-close>span").html("Expand");
			parent.find(".parent-comment-description").css({
				"overflow": "hidden",
				"height" : "44px"
			});
		}else{
			parent.find(".parent-comment-close>span").html("Close");
			parent.find(".parent-comment-description").css({
				"overflow": "visible",
				"height": "auto"
			});
		}

	});
});

<%


function formatTimestamp(time)
{
	var monthes = new Array("January", "February", "March",
    "April", "May", "June", "July", "August", "September",
    "October", "November", "December");
    //-------------------------------------------------------------- 
    // http://af-design.com/blog/2009/02/10/twitter-like-timestamps/ 
    //-------------------------------------------------------------- 
    //var system_date = new Date(time);
    var sysDate = new Date().getTime();
    var diff = Math.floor((sysDate - time) / 1000);
    if (diff <= 1) return "just now";
    if (diff < 20) return diff + " seconds ago";
    if (diff < 40) return "half a minute ago";
    if (diff < 60) return "less than a minute ago";
    if (diff <= 90) return "one minute ago";
    if (diff <= 3540) return Math.round(diff / 60) + " minutes ago";
    if (diff <= 5400) return "1 hour ago";
    if (diff <= 86400) return Math.round(diff / 3600) + " hours ago";
    if (diff <= 129600) return "1 day ago";
    if (diff < 259200) return Math.round(diff / 86400) + " days ago";

    var t = new Date(time),
        hours     = t.getHours() + '',
        min       = t.getMinutes() + '',
        pm        = false,
        date      = t.getDate();

/*    if(date < 3)
        if(date == 1)
            date += 'st'
        else if (date == 2)
            date += 'nd'
        else date += 'rd'
    else
        date += 'th'*/

    if(hours > 11){
        hours = hours - 12;
        pm = true;
    }
    if(hours == 0) hours = 12;

    if(min.length == 1) min = '0' + min;
    if(hours.length == 1) hours = '0' + hours;
    return hours + ':' + min + (pm?' PM':' AM') + ' on ' + monthes[t.getMonth()] + ' ' + date + ', ' + t.getFullYear();
}
%>
</script>

<div class="post-detail" data-postId="<%= post.id %>">
    <div class="post-contents">
  		<% if(post.type == "VIDEO") {%>
    	<div class="post-video ">
    	    <video controls preload="none" poster="<%= post.video_thumbnail.photo_url %>">
                <source src='<%= post.video.video_url%>' type='video/mp4'>
            </video>
    	</div>
    	<% } %>
    	<% if(post.type == "PHOTO") {%>
    	<div class="post-image ">
    	  <img src="<%= post.photo.photo_url %>" />
    	</div>
    	<% } %>
    	<% if(post.type == "LINK") {%>
    		<% if(post.link.link_embed_item_format == "YOUTUBE") { %> 
	    		<div class="post-link embed-responsive embed-responsive-16by9">
	    			 <iframe src="//www.youtube.com/embed/<%= post.link.link_embed_item_url%>" frameborder="0" allowfullscreen>
	    			 </iframe>
	    		</div>
    		<% } %>

    		<% if(post.link.link_embed_item_format == "IMAGE" || post.link.link_embed_item_format == "GIF") { %> 
	    		<div class="post-image ">
		    	  <img src="<%= post.link.link_embed_item_url %>" />
		    	</div>
    		<% } %>

    	<% } %>
    	<% if(post.type == "AUDIO") { %>
    		<div class="post-text" style="background-color: #<%= post.link.auduio_background_color%>;">
	    		<script type="text/javascript">
					$(document).ready(function(){
						var myCirclePlayer = new CirclePlayer("#jquery_jplayer_1",
						{
							 m4a: "http://www.jplayer.org/audio/m4a/Miaow-07-Bubble.m4a"
							//oga: "http://www.jplayer.org/audio/ogg/Miaow-07-Bubble.ogg"
							//m4a: "https://s3-us-west-1.amazonaws.com/media-dev.colonyapp.com/audio/0218c729-6886-4466-816c-1e773f9e9194.m4a"
							//m4a: "https://s3-us-west-1.amazonaws.com/media-dev.colonyapp.com/audio/356e414b-3019-4039-a9fc-e558590ef166.wav"
						}, {
							cssSelectorAncestor: "#cp_container_1",
							swfPath: "js",
							wmode: "window"
						});
					});
				</script>
					
	    		<!-- The jPlayer div must not be hidden. Keep it at the root of the body element to avoid any such problems. -->
				<div id="jquery_jplayer_1" class="cp-jplayer" style="width: 0px; height: 0px;"><img id="jp_poster_0" style="width: 0px; height: 0px; display: none;"><audio id="jp_audio_0" preload="metadata" src="https://s3-us-west-1.amazonaws.com/media-dev.colonyapp.com/audio/356e414b-3019-4039-a9fc-e558590ef166.wav"></audio></div>

				<!-- The container for the interface can go where you want to display it. Show and hide it as you need. -->

				<div id="cp_container_1" class="cp-container">
					<div class="cp-buffer-holder cp-gt50" style="display: block;"> <!-- .cp-gt50 only needed when buffer is > than 50% -->
						<div class="cp-buffer-1" style="-webkit-transform: rotate(180deg);"></div>
						<div class="cp-buffer-2" style="display: block; -webkit-transform: rotate(360deg);"></div>
					</div>
					<div class="cp-progress-holder" style="display: block;"> <!-- .cp-gt50 only needed when progress is > than 50% -->
						<div class="cp-progress-1" style="-webkit-transform: rotate(3.62921894917482deg);"></div>
						<div class="cp-progress-2" style="-webkit-transform: rotate(0deg); display: none;"></div>
					</div>
					<div class="cp-circle-control"></div>
					<ul class="cp-controls">
						<li><a href="#" class="cp-play" tabindex="1" style="display: block;">play</a></li>
						<li><a href="#" class="cp-pause" style="display: none;" tabindex="1">pause</a></li> <!-- Needs the inline style here, or jQuery.show() uses display:inline instead of display:block -->
					</ul>
				</div>
			</div>
    	<% } %>
    	<% if(post.type == "TEXT") {%>
    		<div class="post-text" style="background-color: #<%= post.text.text_background_color%>">
    			<span style="#<%= post.text.text_color%>" class="text-content"><%= post.text.text%></span>
    		</div>
    	<% }%>
    	<div class="post-description">
    		<div class="post-body-text">
    			<% if(post.type == "PHOTO" && post.body){ %>
    				<%= post.body %>
    			<% }%>
    			<% if(post.type == "LINK"){ %>
    				<%= post.link.link_title %>
    			<% }%>
    		</div>
			<div class="post-bottom">
				<span class="post-geo"><%= post.geo.city %> &nbsp; <%= post.geo.state%></span> -
				<!-- <span class="post-create-time"><%= formatTimestamp(post.create_time) %></span> --> -
				<span class="post-comments-count"><%= post.num_comments %> comments</span>
			</div>
			<div class="post-group">
				<span><%=post.group_name %></span>
			</div>
    	</div>
    </div>
</div>
<div class="comment-list">
	<% if(post.comments.data){ %>
		<% for (var i=0; i< post.comments.size; i++){ %>
			<div class="comment-detail" data-commentId="<%= post.comments.data[i].id%>">
				<div class="comment-icon">
					<% if(post.comments.data[i].owner_icon) { %>
						<img src="<%=post.comments.data[i].owner_icon.icon_url%>"  style="background-color: #<%=post.comments.data[i].owner_icon.icon_color_hex %>"/>
					<% }else{ %>
						<img src="https://s3.amazonaws.com/media.stealthie.io/static/icon/OP" />
					<% } %>
				</div>
				<div class="comment-content">
					<% if(post.comments.data[i].parent){ %>
					<div class="parent-comment-detail">
						<div class="parent-comment-icon">
							<% if(post.comments.data[i].parent.owner_icon) { %>
								<img src="<%=post.comments.data[i].parent.owner_icon.icon_url%>"  style="background-color: #<%=post.comments.data[i].parent.owner_icon.icon_color_hex %>"/>
							<% }else{ %>
								<img src="https://s3.amazonaws.com/media.stealthie.io/static/icon/OP" />
							<% } %>
						</div>
						<div class="parent-comment-content">
	    					<div class="parent-comment-description">
	    						<%= post.comments.data[i].parent.body %>
	    					</div>
	    					<div class="parent-comment-geo-time">
	    						<span class="parent-comment-geo"><%= post.comments.data[i].parent.geo.city %> <%= post.comments.data[i].parent.geo.state %></span>
	    						<!-- <span class="parent-comment-time"><%= formatTimestamp(post.comments.data[i].parent.create_time) %></span> -->
	    					</div>
	    					<div class="parent-comment-close">
	    						<span>Expand</span>
	    					</div>
	    				</div>
					</div>
					<% } %>
					<div class="comment-description">
						<%= post.comments.data[i].body %>
					</div>
					<div class="comment-geo-time">
						<span class="comment-geo"><%= post.comments.data[i].geo.city %> <%= post.comments.data[i].geo.state %></span>
						<!-- <span class="comment-time"><%= formatTimestamp(post.comments.data[i].create_time) %> </span> -->
					</div>
				</div>
			</div>
		<% } %>
	<% } %>
<!--  -->
</div> 


