<% layout('layout/layout') -%>
<h1 classs="ninjr_page">Privacy Policy</h1>
<pre style="white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; word-break: normal"> 
    Privacy is a critical part to Ninjr's mission and mantra. It is why we do not require a log in, sign up, your phone number, etc as many other applications do. That being said, we do have a privacy policy meant to inform you on matters relevant to Ninjr's overall conduct of its services through both its app and website. Ninjr's services and mobile app (collectively, the "Services") offers users a place to interact with other Ninjr users in the same area, in order to post and share media (primarily photos), post and share comments, and to respond to comments posted by others. In this Privacy Policy ("Policy"), we detail how we collect, use, and disclose information that we obtain about users of our Services, which are available via mobile applications offered in the Apple and (soon) Android app stores. Your use of our Services, and any dispute over privacy, is subject to this Policy and our Terms of Service, including its applicable limitations on damages and the resolution of disputes, which is available at www.ninjrapp.com/terms and incorporated by reference into this Policy.

What Information Do We Collect About You and Why?

Account Information. When you download and use our mobile app, we assign you a username that is not displayed anywhere, and is for our internal purposes only. We do not collect your name or email address. We also collect the following information:

Your Content and Usage. We collect the content you submit to the Services (posts (caption and images), replies, shares, views, and favorites), as well as information about when you submitted the content, when it was viewed, and other activities.

Geolocation Data. We ask you to share you location information from your mobile device. If you choose not to, the Services cannot function. Location information is used to place you in your most local Ninjr group.

Information We Collect Automatically. We may automatically collect the following information about your use Services: access time, device ID, application ID or other unique identifier; domain name, IP address, screen views; geo-location data (with your permission); language information; device name and model; operating system information; your activities within the Services; and the length of time that you are logged in. We may combine this information with other information that we have collected about you.

Social Media Sites. You can like us on Facebook, follow us on Twitter, and promote us on other social media sites. We collect information about who has liked us or followed us. However, we don't affiliate social media accounts with Ninjr accounts. You may also share ninjrs through Facebook, Twitter, Instagram, and other social media accounts.

How We Use Your Information.
In general, we use the information we collect about you to provide, improve, and operate the Services, respond to your requests, and to provide customer service and technical support. We may also use your information:

To place you in your local Ninjr group so that you can post and review content based on your current location.
To send you notices. 
To display advertising, including advertising that is targeted to you based on your location, as well as your Ninjr activities. 
To improve the application and our services.
To tailor the information that we may send or display to you, offer location customization, send you push notifications and alerts, and to otherwise personalize your experiences while using our Services.

How We Share Your Information.
Currently, you cannot control who views your content. If you don't want to share something publicly, don't post it. Ninjr is a social network, and the content you post may be shared with and viewable by others. We do not identify you by name or contact information to other Ninjr users. However, we cannot prevent others from determining your identify from the content you post or how you share content through third party sites.

The information we collect about you, including personally identifiable information, might be shared as follows:

Service Providers. We may disclose the information we collect from you to third party vendors, service providers, contractors or agents who perform functions on our behalf. 
Ninjr Users. Any information that you post, including comments, replies and other information may become public. We cannot control how your information is used by other ninjr users. Your posts are available to all other users. Users can also freely share any Ninjr content, no matter who posted it, though other third party sites like Facebook, Twitter and Instagram. 
Third Parties and Business Partners. We may share the information we gather about you and other users with our third party business partners, including advertisers. For example, if you post content that mentions one of our business partners, we may share that content with them. As noted, we don't collect name or contact information (unless you post it in your comment or reply).
Business Transfers. If we are acquired by or merged with another company, if substantially all of our assets are transferred to another company, or as part of a bankruptcy proceeding, we may transfer the information we have collected from you to the other company.
In Response to Legal Process. We also may disclose the information we collect about you in order to comply with the law, a judicial proceeding, court order, subpoena, or other legal process. While we don't collect your name or contact information, we may share your IP address or other identifier, your location information, or any other information we have collected about you and your device.
To Protect Us and Others. We also may disclose the information we collect from you where we believe it is necessary to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the safety of any person, violations of our Terms of Use or this Policy, or as evidence in litigation in which Ninjr is involved.
Aggregate and De-Identified Information. We may also share aggregate or de-identify information about users with third parties for marketing, advertising, research or similar purposes.

Your Posts
You can delete content you have posted (including replies). Content you delete will be hidden from other users. However, Ninjr may maintain a copy of such content in our records.

Invite Contacts
You can choose to "Share Ninjr" by inviting contacts via email, text or other means. You choose what contacts to invite and when to invite them. If you invite a contact, we will generate a message with the Ninjr download URL included, which you can choose to send via your mobile device.

Third Party Analytics
We may use automated devices and applications, included those offered by third parties to evaluate usage of our Services. We also may use other analytic means to evaluate our Services. We use these tools to help us improve our Services, performance and user experiences. We do not share your personal information with these third parties.

Third Party Ads
We may display ads to you (including in-app ads), and we may target those ads based on your location, your Ninjr activities, and other criteria (e.g., the time of day).

Third-Party Links
Our Services may contain links to third-party websites. Any access to and use of such linked websites is not governed by this Policy, but instead is governed by the privacy policies of those third party websites.

Push Notifications/Alerts
We may send push notifications or alerts to your device. You can deactivate these messages at any time by changing the notification settings on your device or by changing your Ninjr settings.

Minors
At a future point, depending on content posted, we may choose to make the application available only for those above the age of 17. When that change occurs, it will be described as such in Terms of Service and here. Continued use of the app would mean acknowledgement of any such changes.  At this current point, however, no such restriction on age exists except for those under the age of 13. 

Contact Us
If you have questions about the privacy aspects of our Services or would like to make a complaint, please contact us at support@ninjrapp.com.

Changes to this Policy
This Policy is current as of the Effective Date set forth above. We may change this Policy at any time when necessary. We will post any changes to this Policy on our Site, at http://www.ninjrapp.com/privacy. If we make any changes to this Policy that materially affects our practices with regard to the personal information we have previously collected from you, we will endeavor to provide you with notice in advance of such change by highlighting the change on our Site, or providing notice in our mobile app.
  </pre>