<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ninjr</title>
</head>
<body>
<pre style="margin-left: 5px; margin-right: 5px; white-space: pre-wrap; word-wrap: break-word; word-break: normal; font-size: 36px;"><h1 style="font-size: 45px;">Terms of Service</h1> 
Ninjr's aim is to provide a safe private environment for local dissemination of anonymously posted moments. The following Terms and Conditions ("Terms") are a legal contract between you and Stealthie, Inc (dba "Ninjr"). These Terms explain how you are permitted to use the Ninjr mobile application and services, as well as the Ninjr website located at www.ninjrapp.com and any content therein (collectively, the "Services"). Unless otherwise specified, all references to "Services" include the services available through the Ninjr mobile application and the Ninjr website, as well as any software that Ninjr provides to you that allows you to access Services from your phone or other mobile device. By using said Services, you are consenting to and in agreement with all of the Terms; should you not agree with any of these Terms, please do not access or otherwise use the Services provided by Ninjr. You may download and/or print a copy of these Terms for your records at: [http://www.ninjrapp.com/terms].

Please Note: The Terms contained here feature a dispute resolution and arbitration provision, including class action waiver, which affects your rights under these Terms and with respect to any dispute you may have with Ninjr. You may opt out of the binding individual arbitration and class action waiver in certain cases, which will be provided below.

Future Changes.

Ninjr may make changes to the content and Services at any time. Ninjr can add, change, update, or remove provisions from these Terms, at any time by posting the updated Terms on the Services or by notifying you via the App. By using the Services after Ninjr has already updated our Terms, you are agreeing to all the updated Terms; if you do not agree with any of the updated Terms, you must discontinue usage of the Services.

Overall General Use.

Ninjr's Services might not be available at all locations, and may be blocked from certain locations based on geolocation information from your device and or the device of others; we may add to or remove areas in which the Services are not available at any time, without notice to you.

Ninjr is intended for people who are at least 13 years old. Persons under the age of 13 are prohibited from using Ninjr. Future Services may be subject to separate or different terms from us or third parties that contain revised age requirements. Failure to adhere to age restrictions and requirements will qualify as violations of these terms of service.

The services Ninjr provides are in channels that are copyrighted and/or trademarked works of Ninjr or Ninjr's third-party licensors and suppliers or other users of the Services (in total, the "Materials"). Materials may include logos, video, graphics, images, software, and other content.

Subject to the terms and conditions of these Terms, and your compliance with these Terms, Ninjr hereby grants you a limited, personal, non-exclusive and non-transferable license to use and to display the Materials and to use the Services solely for your personal use. Except for the foregoing license, you have no other rights in the Services or any Materials and you may not modify, edit, copy, reproduce, create derivative works of, reverse engineer, alter, enhance or in any way exploit any of the Services or Materials in any manner.

If you breach any of these Terms, the above license will terminate automatically and you must immediately destroy any downloaded or printed Materials.

Mobile applications.

The Services are made available primarily and almost exclusively via mobile applications. To use the mobile application you must have a mobile device/phone that is compatible with the mobile service provided. Ninjr does not warrant or guarantee that the mobile application will be compatible with your mobile device. Ninjr hereby grants you a non-exclusive, non-transferable, revocable license to use an object code copy of the mobile application for one registered account on one mobile device owned or leased solely by you, for your personal use. You may not: (i) modify, disassemble, decompile or reverse engineer the mobile application, except to the extent that such restriction is expressly allowable by law; (ii) rent, lease, loan, resell, sublicense, distribute or otherwise transfer the mobile application to any third-party or use the mobile application to provide time sharing or similar services for any third-party; (iii) make any copies of the mobile application; (iv) remove, circumvent, disable, damage or otherwise interfere with security-related features of the mobile application, features that prevent or restrict use or copying of any content accessible through the mobile application, or features that enforce limitations on use of the mobile application; or (v) delete the copyright and other proprietary rights notices on the mobile application. You acknowledge that Ninjr can from time to time issue upgraded versions of the mobile application, and may automatically and electronically upgrade the version of the mobile application that you are using on your mobile device. You consent to such automatic upgrading on your mobile device, and agree that these Terms will apply to all such upgrades. The foregoing license grant is not a sale of the mobile application or any copy thereof, and Ninjr and its third-party licensors or suppliers retain all right, title, and interest in and to the mobile application (and any copy of the mobile application). Standard carrier data charges may apply to your use of the mobile application.
The following additional terms and conditions apply with respect to any mobile application that Ninjr provides to you designed for use on an Apple iOS-powered mobile device (an "iOS App"):

You acknowledge that these Terms are between you and Ninjr only, and not with Apple, Inc. ("Apple"). 
Your use of Ninjr's iOS App must comply with Apple's then-current App Store Terms of Service.
Ninjr, and not Apple, is solely responsible for our iOS App and the Services and Content available thereon. You acknowledge that Apple has no obligation to provide maintenance and support services with respect to our iOS App. To the maximum extent permitted by applicable law, Apple will have no warranty obligation whatsoever with respect to our iOS App.
You agree that Ninjr, and not Apple, are responsible for addressing any claims by you or any third-party relating to our iOS App or your possession and/or use of our iOS App.
You agree that Ninjr, and not Apple, shall be responsible, to the extent required by these Terms, for the investigation, defense, settlement and discharge of any third-party intellectual property infringement claim related to our iOS App or your possession and use of our iOS App. 
You agree to comply with all applicable third-party terms of agreement when using our iOS App (e.g., you must not be in violation of your wireless data service terms of agreement when using the iOS App).
You represent and warrant that (i) you are not located in a country that is subject to a U.S. Government embargo, or that has been designated by the U.S. Government as a "terrorist supporting" country; and (ii) You are not listed on any U.S. Government list of prohibited or restricted parties.
The parties agree that Apple and Apple's subsidiaries are third-party beneficiaries to these Terms as they relate to your license of Ninjr's iOS App. Upon your acceptance of these Terms, Apple will have the right (and will be deemed to have accepted the right) to enforce these Terms against you as they relate to your license of the iOS App as a third-party beneficiary thereof.

The following additional terms and conditions apply with respect to any mobile application that Ninjr provides or will provide in the future to you designed for use on an Android-powered mobile device (an "Android App"):

You acknowledge that these Terms are between you and Ninjr only, and not with Google, Inc. ("Google"). 
Your use of Ninjr's Android App must comply with Google's then-current Android Market Terms of Service.
Google is only a provider of the Android Market where you obtained the Android App. Ninjr, and not Google, are solely responsible for Ninjr's Android App and the Services and Content available thereon. Google has no obligation or liability to you with respect to Ninjr's Android App or these Terms.
You acknowledge and agree that Google is a third-party beneficiary to the Terms as they relate to Ninjr's Android App.

Registering for an Account.

If you desire to register for an account with Ninjr to use the Services, you must download the App on your mobile device. When you open the app, you must agree to let Ninjr gather yourÂ&nbsp;location information; if you do not agree, the Services will not function. You must also allow Ninjr access to your camera or else certain services may not be available nor provided. You are not required to submit your name or contact information. We also collect your IP address and generate or collect a unique identifier for your mobile device, which will serve as your sole and/or primary user ID under most normal circumstances.

Electronic Communications.

By using the Services, you consent to receiving electronic communications from Ninjr. These electronic communications may include notices about applicable fees and charges, transactional information and other information concerning or related to the Services. These electronic communications are part of your relationship with Ninjr. You agree that any notices, agreements, disclosures or other communications that we send you electronically will satisfy any legal communication requirements, including that such communications be in writing.

The Privacy Policy.

Please review Ninjr's Privacy Policy (the "Privacy Policy"), available at [http://www.ninjrapp.com/privacy] which explains how we use information that we collect about you. By using our Services, you agree that we may use and disclose the information we collect about you as stated in the Privacy Policy. Without limiting the foregoing, you expressly acknowledge that any Submissions (defined below) or other information you submit to the Services may be viewable by all other users of the Services and any third party that has been carefully vetted and/or approved by Stealthie, Inc.

Submissions.

You are responsible for any information, opinions, messages, comments, photos, videos, graphics, sounds and other content or material that you submit, upload, post or otherwise make available on or through the Services (each a "Submission") and through the Services available in connection with the Services. We reserve the right to retain your Submissions, even after they have expired from view within the App or even after you have deleted them. However, you agree that we have no obligation to retain any Submission for any period of time, nor shall we be responsible or liable to you or any third party for any lost content or losses related to the expiration or deletion of a Submission. You understand that you are responsible for all data charges you incur by using the Services.

You may not upload, post or otherwise make available on the Services any material protected by copyright, trademark, or any other proprietary right without the express permission of the owner of such copyright, trademark or other proprietary right owned by a third-party, and the burden of determining whether any material is protected by any such right is on you. You shall be solely liable for any damage resulting from any infringement of copyrights, trademarks, proprietary rights, violation of contract, privacy or publicity rights or any other harm resulting from any Submission that you make. You have full responsibility for each Submission you make, including its legality, reliability, honesty, and appropriateness. You agree that any submission that violates the privacy of either Ninjr users or others is your responsibility and do not hold Ninjr accountable for any repercussions that may result from your o actions, posts, and decisions.

Unless otherwise explicitly stated herein or in Ninjr's Privacy Policy, you agree that any Submission provided by you in connection with the Services is provided on a non-proprietary and non-confidential basis. You hereby grant to Ninjr a non-exclusive, perpetual, irrevocable, royalty-free, fully paid-up, worldwide license (including the right to sublicense through multiple tiers) to use, reproduce, process, adapt, publicly perform, publicly display, modify, prepare derivative works, publish, transmit and distribute each of your Submissions, or any portion thereof, in any form, medium or distribution method now known or hereafter existing, known or developed, and authorize others to use the Submissions. We may modify or adapt your Submissions in order to transmit, display or distribute them over computer networks and in various media and/or make changes to the Submissions as necessary to conform and adapt them to any requirements or limitations of any networks, devices, services or media.

You agree to pay for all fees, royalties, damages and any other monies owing any person or entity by reason of any Submissions posted by you to or through the Services. When you provide Submissions you agree that those Submissions shall not be in violation of the "Unauthorized Activities" paragraph below. Those prohibitions do not require Ninjr to monitor, police or remove any Submissions or other information submitted by you or any other user. 

Unauthorized Activities.

When using the Services and/or the services, you agree not to:
Abuse, harass, stalk, threaten, defame, lie about, or otherwise violate the legal rights (such as rights of privacy and publicity) of others including but not limited to individual persons, corporations, and other entities.
Use racially or ethnically offensive language.
Discuss or incite illegal activity.
Post anything that exploits children or minors (including pornography that depicts minors) or that depicts cruelty to animals.
Post any copyrighted or trademarked materials without the express permission from the owner.
Disseminate any unsolicited or unauthorized advertising, promotional materials, â€˜junk mail', â€˜spam', â€˜chain letters', â€˜pyramid schemes', or any such form of solicitation.
Use any spider, robot, scraper or other automated means to access the Services provided by Ninjr.
Take any action that imposes an unreasonable or unusually large load on our infrastructure.
Alter the opinions or comments posted by others on the Services.
Post anything contrary to our public image, goodwill or reputation.
This list of prohibitions provides examples and is not complete or exclusive. Ninjr reserves the right to (a) terminate access to your account, your ability to post to the Services (or use the Services) and (b) refuse, delete or remove any Submissions; with or without cause and with or without notice, for any reason or no reason, or for any action that Ninjr determines is inappropriate or disruptive to the Services or to any other user of the Services. Ninjr may report to law enforcement authorities any actions that may be illegal, and any reports it receives of such conduct. When legally required or at Ninjr's discretion, Ninjr will cooperate with law enforcement agencies in any investigation of alleged illegal activity on the Services or on the Internet.

Unauthorized use of any Materials or Third-Party Content contained in the Services may violate certain laws and regulations. You agree to indemnify and hold Ninjr and its officers, directors, employees, affiliates, agents, licensors, and business partners harmless from and against any and all damages, liabilities, costs and expenses (including attorneys' fees and costs of defense) Ninjr or any other indemnified party suffers in relation to, arising from, or for the purpose of avoiding, any claim or demand from a third-party that your use of the Services or the use of the Services by any person using your user name, device, and/or password (including without limitation, your participation in the posting areas or, your Submissions) violates any applicable law or regulation, or the copyrights, trademark rights or other rights of any third-party.

Proprietary Rights.

Ninjr is a trademark of Stealthie, Inc in the United States. Other trademarks, names and logos on the Services are the property of their respective owners. Unless otherwise specified in these Terms, all information and screens appearing on the Services, including documents, services, site design, audio, video, text, graphics, logos, images and icons, as well as the arrangement thereof, are the sole property of Ninjr, Copyright Â© 2015, Stealthie, Inc All rights not expressly granted herein are reserved. Except as otherwise required or limited by applicable law, any reproduction, distribution, modification, retransmission, or publication of any copyrighted material is strictly prohibited without the express written consent of the copyright owner or license.

The Mobile Application software that is provided to you through the Services and related documentation are "Commercial Items", as that term is defined at 48 C.F.R. Â§2.101, consisting of "Commercial Computer Software" and "Commercial Computer Software Documentation", as such terms are used in 48 C.F.R. Â§12.212 or 48 C.F.R. Â§227.7202, as applicable. Consistent with 48 C.F.R. Â§12.212 or 48 C.F.R. Â§227.7202-1 through 227.7202-4, as applicable, if You are a government entity, the Commercial Computer Software and Commercial Computer Software Documentation are being licensed to U.S. Government end users (a) only as Commercial Items and (b) with only those rights as are granted to all other end users pursuant to the terms and conditions herein. Unpublished-rights reserved under the copyright laws of the United States.

Third Party Content

Ninjr respects the intellectual property rights of others, and we ask you to do the same. Ninjr may, in appropriate circumstances and at our discretion, terminate service and/or access to the Services for users who infringe the intellectual property rights of others. If you believe that your work is the subject of copyright infringement and/or trademark infringement and appears on our Site, please provide Ninjr's designated agent the following information:

A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
Identification of the copyrighted and/or trademarked work claimed to have been infringed, or, if multiple works at a single online site are covered by a single notification, a representative list of such works at that site.
Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled at the Services, and information reasonably sufficient to permit Ninjr to locate the material.
Information reasonably sufficient to permit Ninjr to contact you as the complaining party, such as an address, telephone number, and, if available, an electronic mail address at which you may be contacted.
A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright and/or trademark owner, its agent, or the law.
A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.

Ninjr's agent for notice of claims of copyright or trademark infringement on the Services can be reached by emailing: Admin@ninjrapp.com

Please also note that for copyright infringements under Section 512(f) of the Copyright Act, any person who knowingly materially misrepresents that material or activity is infringing may be subject to liability.

Submitting a DMCA Counter-Notification
We will notify you that we have removed or disabled access to copyright-protected material that you provided, if such removal is pursuant to a valid DMCA take-down notice that we have received. If you receive such notice from us, you may provide us with a counter-notification in writing to Ninjr designated agent that includes all of the following information:
Your physical or electronic signature;
Identification of the material that has been removed or to which access has been disabled, and the location at which the material appeared before it was removed or access to it was disabled;
A statement from you under the penalty of perjury, that you have a good faith belief that the material was removed or disabled as a result of a mistake or misidentification; and
Your name, physical address and telephone number, and a statement that you consent to the jurisdiction of a court for the judicial district in which your physical address is located, or if your physical address is outside of the United States, for any judicial district in which Ninjr may be located, and that you will accept service of process from the person who provided notification of allegedly infringing material or an agent of such person.

Termination of Repeat Infringers

Ninjr reserves the right, in its sole discretion, to terminate the account or access of any user of our web site and/or service who is the subject of repeated DMCA or other infringement notifications.

Disclaimer of Warranties.

Your use of the Services and/or the Services is at your own risk. The Materials have not been verified or authenticated in whole or in part by Ninjr, and they may include inaccuracies or typographical or other errors. Ninjr does not warrant the accuracy of timeliness of the Materials contained on the Services. Ninjr has no liability for any loss of, or errors or omissions in Submissions, or for any errors or omissions in the Materials, whether provided by Ninjr, our licensors or suppliers or other users.
NINJR, FOR ITSELF AND ITS LICENSORS, MAKES NO EXPRESS, IMPLIED OR STATUTORY REPRESENTATIONS, WARRANTIES, OR GUARANTEES IN CONNECTION WITH THE SERVICES, THE SERVICES, OR ANY MATERIALS RELATING TO THE QUALITY, SUITABILITY, TRUTH, ACCURACY OR COMPLETENESS OF ANY INFORMATION OR MATERIAL CONTAINED OR PRESENTED ON THE SERVICES, INCLUDING WITHOUT LIMITATION THE MATERIALS. UNLESS OTHERWISE EXPLICITLY STATED, TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE SERVICES, THE SERVICES, AND MATERIALS AND ANY INFORMATION OR MATERIAL CONTAINED OR PRESENTED ON THE SERVICES IS PROVIDED TO YOU ON AN "AS IS," "AS AVAILABLE" AND "WHERE-IS" BASIS WITH NO WARRANTY OF IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT OF THIRD-PARTY RIGHTS. NINJR DOES NOT PROVIDE ANY WARRANTIES AGAINST VIRUSES, SPYWARE OR MALWARE THAT MAY BE INSTALLED ON YOUR COMPUTER.

Limitation of Liability.

NINJR SHALL NOT BE LIABLE TO YOU FOR ANY DAMAGES RESULTING FROM YOUR DISPLAYING, COPYING, OR DOWNLOADING ANY MATERIALS TO OR FROM THE SERVICES. NINJR IS FURTHERMORE NOT LIABLE TO YOU FOR ANY DAMAGES, PERSONAL, ECONOMIC, OR OTHERWISE, RESULTING FROM YOUR IMAGE AND OR LIKENESS BEING DISPLAYED ON THE MOBILE APPLICATION. IN NO EVENT SHALL NINJR BE LIABLE TO YOU FOR ANY INDIRECT, EXTRAORDINARY, EXEMPLARY, PUNITIVE, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES (INCLUDING LOSS OF DATA, REVENUE, PROFITS, PRIVACY, USE OR OTHER ECONOMIC ADVANTAGE) HOWEVER ARISING, EVEN IF NINJR KNOWS THERE IS A POSSIBILITY OF SUCH DAMAGE.

Local Laws; Export Control.

Ninjr controls and operates the Services from its headquarters in the United States of America and the Materials may not be appropriate or available for use in other locations. If you use the Services outside the United States of America, you are responsible for following applicable local laws.

Feedback.

If you send or transmit any communications, comments, questions, suggestions, or related materials to Ninjr, whether by letter, email, telephone, or otherwise (collectively, "Feedback"), suggesting or recommending changes to the Services, any Services offered through the Services or Materials, including, without limitation, new features or functionality relating thereto, all such Feedback is, and will be treated as, non-confidential and non-proprietary. Transmission of communications does not automatically infer receipts by intended recipient. You acknowledge that emails, phone calls, voicemail messages, reviews, or other forms of communication sent to and/or directed at Ninjr that have not received a direct reply by an authorized  Ninjr representative are not indicative of knowledge of or receipt of said message. You hereby assign all right, title, and interest in, and Ninjr is free to use, without any attribution or compensation to you, any ideas, know-how, concepts, techniques, or other intellectual property and proprietary rights contained in the Feedback, whether or not patentable, for any purpose whatsoever, including but not limited to, developing, manufacturing, having manufactured, licensing, marketing, and selling, directly or indirectly, products and services using such Feedback. You understand and agree that Ninjr is not obligated to use, display, reproduce, or distribute any such ideas, know-how, concepts, or techniques contained in the Feedback, and you have no right to compel such use, display, reproduction, or distribution.

Dispute Resolution and Arbitration; Class Action Waiver.

Please read this carefully. It affects your rights.
Most customer concerns can be resolved quickly and to a customer's satisfaction by contacting us at support@ninjrapp.com. This Provision facilitates the prompt and efficient resolution of any disputes that may arise between you and Ninjr. Arbitration is a form of private dispute resolution in which persons with a dispute waive their rights to file a lawsuit, to proceed in court and to a jury trial, and instead submit their disputes to a neutral third person (or arbitrator) for a binding decision. You have the right to opt-out of this Provision (as explained below), which means you would retain your right to litigate your disputes in a court, either before a judge or jury.

Please read this Provision carefully. It provides that all Disputes between you and Ninjr shall be resolved by binding arbitration. Arbitration replaces the right to go to court. In the absence of this arbitration agreement, you may otherwise have a right or opportunity to bring claims in a court, before a judge or jury, and/or to participate in or be represented in a case filed in court by others (including, but not limited to, class actions). Except as otherwise provided, entering into this agreement constitutes a waiver of your right to litigate claims and all opportunity to be heard by a judge or jury. There is no judge or jury in arbitration, and court review of an arbitration award is limited. The arbitrator must follow this agreement and can award the same damages and relief as a court (including attorney's fees).

For the purpose of this Provision, "Ninjr" means Ninjr and its parents, subsidiary, and affiliate companies, and each of their respective officers, directors, employees, and agents. The term "Dispute" means any dispute, claim, or controversy between you and Ninjr regarding any aspect of your relationship with Ninjr, whether based in contract, statute, regulation, ordinance, tort (including, but not limited to, fraud, misrepresentation, fraudulent inducement, or negligence), or any other legal or equitable theory, and includes the validity, enforceability or scope of this Provision (with the exception of the enforceability of the Class Action Waiver clause below). "Dispute" is to be given the broadest possible meaning that will be enforced, and shall include any claims against other parties relating to services or products provided or billed to you (such as Ninjr's licensors, suppliers, dealers or third-party vendors) whenever you also assert claims against us in the same proceeding.

WE EACH AGREE THAT, EXCEPT AS PROVIDED BELOW, ANY AND ALL DISPUTES, AS DEFINED ABOVE, WHETHER PRESENTLY IN EXISTENCE OR BASED ON ACTS OR OMISSIONS IN THE PAST OR IN THE FUTURE, WILL BE RESOLVED EXCLUSIVELY AND FINALLY BY BINDING ARBITRATION RATHER THAN IN COURT IN ACCORDANCE WITH THIS PROVISION. 

Pre-Arbitration Claim Resolution
For all Disputes, whether pursued in court or arbitration, you must first give Ninjr an opportunity to resolve the Dispute. You must commence this process by emailing written notification to Ninjr, or mailing at an address that will be made available to you through first contacting Ninjr by email. That written notification must include (1) your name, (2) your address, (3) a written description of your Claim, and (4) a description of the specific relief you seek. If Ninjr does not resolve the Dispute within 60 days after it receives your written notification, you may pursue your Dispute in arbitration. You may pursue your Dispute in a court only under the circumstances described below.

Exclusions from Arbitration/Right to Opt Out
Notwithstanding the above, you or Ninjr may choose to pursue a Dispute in court and not by arbitration if (a) the Dispute qualifies, it may be initiated in small claims court; or (b) YOU OPT-OUT OF THESE ARBITRATION PROCEDURES WITHIN 30 DAYS FROM THE DATE THAT YOU FIRST CONSENT TO THIS AGREEMENT (the "Opt-Out Deadline"). You may opt out of this Provision by mailing written notification to support@ninjrapp.com. Your written notification must include (1) your name, (2) your address, and (3) a clear statement that you do not wish to resolve disputes with Ninjr through arbitration. Your decision to opt-out of this Arbitration Provision will have no adverse effect on your relationship with Ninjr. Any opt-out request received after the Opt-Out Deadline will not be valid and you must pursue your Dispute in arbitration or small claims court.

Arbitration Procedures
If this Provision applies and the Dispute is not resolved as provided above (Pre-Arbitration Claim Resolution) either you or Ninjr may initiate arbitration proceedings. The American Arbitration Association ("AAA"), www.adr.org, or JAMS, www.jamsadr.com, will arbitrate all Disputes, and the arbitration will be conducted before a single arbitrator. The arbitration shall be commenced as an individual arbitration, and shall in no event be commenced as a class arbitration. All issues shall be for the arbitrator to decide, including the scope of this Provision.
For arbitration before AAA, for Disputes of less than $75,000, the AAA's Supplementary Procedures for Consumer-Related Disputes will apply; for Disputes involving $75,000 or more, the AAA's Commercial Arbitration Rules will apply. In either instance, the AAA's Optional Rules For Emergency Measures Of Protection shall apply. The AAA rules are available at www.adr.org or by calling 1-800-778-7879. For arbitration before JAMS, the JAMS Comprehensive Arbitration Rules &amp; Procedures and the JAMS Recommended Arbitration Discovery Protocols For Domestic, Commercial Cases will apply. The JAMS rules are available at www.jamsadr.com or by calling 1-800-352-5267. This Provision governs in the event it conflicts with the applicable arbitration rules. Under no circumstances will class action procedures or rules apply to the arbitration.
Because the Services and these Terms concern interstate commerce, the Federal Arbitration Act ("FAA") governs the arbitrability of all Disputes. However, the arbitrator will apply applicable substantive law consistent with the FAA and the applicable statute of limitations or condition precedent to suit.
Arbitration Award â€“ The arbitrator may award on an individual basis any relief that would be available pursuant to applicable law, and will not have the power to award relief to, against or for the benefit of any person who is not a party to the proceeding. The arbitrator will make any award in writing but need not provide a statement of reasons unless requested by a party. Such award will be final and binding on the parties, except for any right of appeal provided by the FAA, and may be entered in any court having jurisdiction over the parties for purposes of enforcement.
Location of Arbitration â€“ You or Ninjr may initiate arbitration in either Sussex County, Delaware or the federal judicial district that includes your billing address. In the event that you select the federal judicial district that includes your billing address, Ninjr may transfer the arbitration to Sussex County, Delaware in the event that it agrees to pay any additional fees or costs you incur as a result of the transfer, as determined by the arbitrator.
Payment of Arbitration Fees and Costs â€“ The party that seeks arbitration is responsible for paying all arbitration filing fees and arbitrator's costs and expenses upon written request given prior to the commencement of the arbitration. You are responsible for all additional fees and costs that you incur during and/or in the arbitration, including, but not limited to, attorneys or expert witnesses. Fees and costs may be awarded as provided pursuant to applicable law. In addition to any rights to recover fees and costs under applicable law, if you provide notice and negotiate in good faith with Ninjr as provided in the section above titled "Pre-Arbitration Claim Resolution" and the arbitrator concludes that you are the prevailing party in the arbitration, you will be entitled to recover reasonable attorney's fees and costs as determined by the arbitrator.

Class Action Waiver
Except as otherwise provided in this Provision, the arbitrator may not consolidate more than one person's claims, and may not otherwise preside over any form of a class or representative proceeding or claims (such as a class action, consolidated action or private attorney general action) unless both you and Ninjr specifically agree to do so following initiation of the arbitration. If you choose to pursue your Dispute in court by opting out of the Arbitration Provision, as specified above, this Class Action Waiver will not apply to you. Neither you, nor any other user of the Services can be a class representative, class member, or otherwise participate in a class, consolidated, or representative proceeding without having complied with the opt-out requirements above.

Jury Waiver
You understand and agree that by entering into this Agreement you and Ninjr are each waiving the right to a jury trial or a trial before a judge in a public court. In the absence of this Provision, you and Ninjr might otherwise have had a right or opportunity to bring Disputes in a court, before a judge or jury, and/or to participate or be represented in a case filed in court by others (including class actions). Except as otherwise provided below, those rights are waived. Other rights that you would have if you went to court, such as the right to appeal and to certain types of discovery, may be more limited or may also be waived.

Severability
If any clause within this Provision (other than the Class Action Waiver clause above) is found to be illegal or unenforceable, that clause will be severed from this Provision, and the remainder of this Provision will be given full force and effect. If the Class Action Waiver clause is found to be illegal or unenforceable, this entire Provision will be unenforceable and the Dispute will be decided by a court.

Continuation
This Provision shall survive the termination of your service with Ninjr or its affiliates. Notwithstanding any provision in this Agreement to the contrary, we agree that if Ninjr makes any change to this Provision (other than a change to the Notice Address), you may reject any such change and require Ninjr to adhere to the language in this Provision if a dispute between us arises.

General.

Ninjr prefers to advise you if we feel you are not complying with these Terms and to recommend any necessary corrective action. However, certain violations of these Terms, as determined by Ninjr, may result in immediate termination of your access to the Services without prior notice to you. The Federal Arbitration Act, Delaware state law and applicable U.S. federal law, without regard to the choice or conflicts of law provisions, will govern these Terms. Foreign laws do not apply. The United Nations on Contracts for the International Sale of Goods and any laws based on the Uniform Computer Information Transactions Act (UCITA) shall not apply to this Agreement. Except for Disputes subject to arbitration as described above, any disputes relating to these Terms or the Services will be heard in the courts located in Sussex County in the State of Delaware. If any of these Terms is found to be inconsistent with applicable law, then such term shall be interpreted to reflect the intentions of the parties, and no other terms will be modified. Ninjr's failure to enforce any of these Terms is not a waiver of such term. If any part of this Agreement renders or is found to render the remainder of the Agreement invalid or unenforceable, that part will automatically be considered void, and the remainder of the Agreement shall remain valid and enforceable. These Terms are the entire agreement between you and Ninjr and supersede all prior or contemporaneous negotiations, discussions or agreements between you and Ninjr about the Services. The proprietary rights, disclaimer of warranties, representations made by you, indemnities, limitations of liability and general provisions shall survive any termination of these Terms. 
Contact Us.
If you have any questions about these Terms or otherwise need to contact Ninjr for any reason, you can reach us at support@ninjrapp.com.
  </pre>
</body>
</html>