<!-- views/partials/footer.ejs -->
<script>
	$(document).ready(function(){
		$(".iphoneImage").click(function(){
			window.location.href = "https://itunes.apple.com/us/app/id968448971";
		});

		$(".androidImageFooter").click(function(){
			$(".androidImageFooter").hide();
			$(".androidInputFooter, .androidPlusFooter, .androidTextFooter").show();
		})

		$(".androidPlusFooter").click(function(){
			var email = $(".androidInputFooter").val();
			if(email == ""){
				alert("You didn't put any emails there. ");
				return;
			}
			$.ajax({
              type: "post",
              url: "/saveemail?email="+email,             
              success : function(data){
                alert("We have reveived your email, thanks for interesting in Ninjr");
                $(".androidInputFooter").val("");
                $(".androidImageFooter").show();
                $(".androidInputFooter, .androidPlusFooter, .androidTextFooter").hide();
              }
            });

		});


		
	});	
</script>
<div class="footer" >
    <div class="container" >
    	<div>
    		<div class="header">BE A <span class="yellowNinjr">NINJR</span> TODAY</div>
	    	<div class="ninjrApp">
	    	<img class="iphoneImage" src="img/DownloadonAppSTore.png" width="173">
	        <img class="androidImageFooter" src="img/DownloadonAndroid.png" width="173">
        	<input class="androidInputFooter" type="text"  placeholder="Email Address" style="display: none;" />
        	<img class="androidPlusFooter" src="img/PlusButton.png" width="50" style="display: none;" />
        	<div class="androidTextFooter" style="display: none;">We&#39ll let you know when we are on Andorid!</div>
	        </div>
	        <div class="footerLinks">
	        	<a href="/terms">TERM OF SERVICE</a>
	        	<a href="/privacy">PRIVACY</a>
	        	<a href="/aboutus">ABOUT US</a>
	        	<a href="https://www.facebook.com/ninjrapp"><img src="img/fIcon.png" width="21"></a>
	        	<a href="https://twitter.com/ninjrapp"><img src="img/ttIcon.png" width="21"></a>
	        	<a href="http://ninjrapp.tumblr.com"><img src="img/tbIcon.png" width="21"></a>
	        </div>
        </div>
        <p class="copyRight">© Copyright Stealthie, Inc. 2015.</p>
    </div>
</div>

