<meta charset="utf-8">
<title>Ninjr - The Anonymous Ninja Network Where Anything Goes</title>
<meta name="description" content="Ninjr is the Donald Trump of anonymous social networks. Things are unpredictable, never politically correct, and can sometimes make you question humanity. We are also the creators of ninjr cookies: equally horrible fortune cookies sourced from all the terrible ninjas of ninjr. Unlike Yik Yak we won't censor you.">

<!-- fb and og stuff -->
<meta property="fb:app_id" content="368300913329789"/>
<meta property="og:type" content="website"/>
<meta property="og:url"  content="http://ninjrapp.com" />
<meta property="og:image" content="http://d1ykfg4qvj77lm.cloudfront.net/ninjrscreen.png"/>
<meta property="og:title" content="Ninjr"/>
<meta property="og:description" content="Share anything while keeping your privacy on Ninjr. Download the app to meet and chat with guys and girls from all around the country. No sign-ups required."/>
<meta name="apple-itunes-app" content="app-id=968448971"/>

<!-- styles -->
<!--<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans">-->
<link href="/lib/boostrap/css/bootstrap.css" rel="stylesheet">
<link href="/stylesheets/base.css" rel="stylesheet">


<!-- Fav and touch icons -->
<link rel="shortcut icon" href="img/favicon.ico">
<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">


<script src="/lib/jquery/jquery-2.1.1.min.js"></script>
<script src="/lib/jquery/jquery.dotdotdot.min.js"></script>

<!-- Need mroe Bootstrap features? Uncomment some lines below. -->
<script src="/lib/boostrap/js/bootstrap.min.js"></script>



