<div class="rightHeader" style="float: right">
  <ul>
      <li class="contact"><a href="/aboutus">ABOUT US</a></li>
      <li><a href="https://www.facebook.com/ninjrapp"><img src="img/fIcon.png" width="18"/></a></li>
      <li><a href="https://twitter.com/ninjrapp"><img src="img/ttIcon.png" width="18" /></a></li>
      <li><a href="http://ninjrapp.tumblr.com"><img src="img/tbIcon.png" width="18" /></a></li>
  </ul>
</div>
