<div class="container-fluid">
   <div class="container navigation">
	   <div><a href="/"> NINJR </a> </div>
	   <div><a href="/aboutus">ABOUT</a></div>
	   <div><a href="/privacy">PRIVACY</a></div>
	   <div><a href="/terms">TERMS OF SERVICE</a></div>
   </div>
</div>