body{
  min-width: 800px;
}

ul li{
  list-style-type: none;
}

.right{
  float: right;
}

::-webkit-input-placeholder {
   color: #919191;
   font-size: 18px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #919191;
   font-size: 18px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #919191;
   font-size: 18px;
}

:-ms-input-placeholder {  
   color: #919191;
   font-size: 18px;
}

