body{
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body section {
	width: 100%;
	text-align: center;
	padding: 40px 0;
	font-size: 38px;
	font-style: normal;
  	line-height: 40px;
  	color: #000;
}

section.bannerSection{
	background-image: url(../img/mobileBackgrounImage.png);
	font-size: 27px;
	padding: 60px 0;
	color: #fff;
}

section.bannerSection .mainHeader{
	margin: 0 40px 200px; 
	color: #fff;
	text-decoration: none;
	font-size: 27px;
	text-align: right;
}

section.bannerSection a{
	margin: 0px 15px; 
	color: #fff;
	text-decoration: none;
	font-size: 38px;
}

section.bannerSection a img{
	display: inline-block;
	margin: 0px;
}

section.bannerSection .iphoneImage{
	margin-top: 100px;
  	margin-bottom: 50px;
}

section.bannerSection .androidImage{
  	margin-bottom: 100px;
}

body section:nth-of-type(even) {
	background-color: #fff;
}
body section:nth-of-type(odd) {
	background-color: #f2f2f2;
}

section h1{
	color: #056eda;
  	font-weight: bold;
  	margin-top: 100px;
  	font-size: 88px;
}

section img{
  	display: block;
  	margin: 45px auto;
}

section .message{
  	padding: 15px 35px;
  	line-height: 70px;
  	font-style: normal;
  	font-size: 52px;
}



footer{
	background-color: #092744;
	color: #fff;
	padding: 100px 0 100px;
	text-align: center;
}

footer .header{
  	font-weight: bold;
  	font-size: 88px;
}

footer .yellowNinjr{
	background-color: #092744;
	color: rgb( 234, 255, 0 );
}

footer .iphoneImage,
footer .androidImage{
	margin: 50px 15px;
}

footer a{
	color: #fff;
	margin: 0 10px;
	font-size: 27px;
	text-decoration: none;
}