body{
	background-color: white;
}

.container-fluid{
	background-color: #0387f3;
}

.container{
	min-width: 1140px;
}

div.container:before, div.container:after{ content: none;}
.navigation{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: justify;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
    margin-top: 20px;
    height: 40px;

}

.navigation div a{
	font-size: 18.4px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-variant: normal;
	line-height: 15px;
	color: white;
	vertical-align: top;
	display: inline-block;
	*display: inline;
	zoom: 1

}

.post-detail{
	margin-top: 10px;
	width: 425px;
	float:left;
	margin-bottom: 10px;
}

.post-contents, .post-image, .post-description, .post-link, .post-text, .post-audio, .post-video, .post-image>img, .comment-area{
	width: 100%;
}

.post-description{
	padding-left: 10px;
	padding-right: 10px;
	font-variant: normal;
	vertical-align: top;
	display: inline-block;
}

.post-body-text{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 18px;
}

.post-text{
	height: 600px;
	line-height: 600px;
	text-align: center;
	color: white;
}

.text-content{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	font-size: 72px;
}

.post-audio{
	height: 600px; 
}
.post-bottom{
	font-size: 12px;
	opacity: 0.6;
}

.post-group{
	margin-top: 10px;
}
.post-group span{ 
   background-color: #f4f4fa;
   cursor: pointer;
   display: table;
   line-height: 1.2em;
   word-break: break-word;
   font-size: 13px;
   font-weight: 500;
   color: #808393;
   background-color: #f4f4fa;
   margin-right: 4px;
   border-radius: 12px;
   padding: 4px 8px;
   border: 0;
}
@media only screen and (max-width: 640px) {

   div.post-body-text { font-size: 18px; }
   div.post-bottom { font-size: 12px;}
   div.comment-description {font-size: 14px; margin-left: 5px;}
   div.comment-geo-time {font-size: 12px;}
   div.comment-rate {font-size: 14px;}
   div.parent-comment-description{ font-size: 14px; margin-left: 5px; height: 42px;}
   div.parent-comment-geo-time {font-size: 12px;}
   div.parent-comment-close {font-size: 12px;}
   div.parent-comment-detail { width: auto;}

   div.container, div.container-fluid{ width: 100%;  padding: 0px; margin: 0px; height: 40px;}
   div.container { min-width: 100%;}
   div.navigation { padding: 10px; }
   div.navigation div a { font-size: 12px;}
   body {min-width: 100%;}

   div.post-description{ padding-left: 10px;  padding-right: 10px;}
   div.post-contents hr{ margin: 5px 0;}
   div.post-tool{ margin: 5px 0;}
   div.comment-icon, div.comment-content { margin: 5px 0; }
   div.comment-content {width: 85%; margin-left: 5px;}
   div.comment-detail{ padding: 0px 10px; margin-left: 0px;}
  

   div.post-text { height: 200px; line-height: 200px;}
   span.text-content { font-size: 20px}

   div.post-detail{ width: 100%;  margin-top: 0px;}
   div.comment-list{ width: 100%;  border-top: 1px solid gray;  margin: 0px;}
   div.parent-comment-content { width: 80%;}

}

@media only screen and (max-width: 320px) {
	div.comment-rate img {width: 24px ;}
}

.comment-list{
	height: auto;
	width: 570px;
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}

.comment-list ul{
	margin-left: 0px;
	padding-left: 0px;
}

.comment-detail{
	display: inline-block;
	width: 100%;
}

.comment-icon{
	float: left;
	margin-top: 5px;
	
}
.comment-icon img{
	margin-top: 5px;
	border-radius: 50%;	
	width: 30px;
}

.comment-content{
	margin-top: 10px;
	width: 470px;
	float:left;
	margin-left: 10px;
}

.comment-description{
	font-variant: normal;
	vertical-align: top;
	display: inline-block;
	font-size: 16px;
	width: 100%;
}

.comment-geo-time{
	opacity: 0.6;
	font-variant: normal;
	vertical-align: top;
	display: inline-block;
	font-size: 12px;
	margin-top: 5px;
}

.comment-geo{
    color: blue;
}

.comment-time{
	margin-left: 10px;
}

.parent-comment-detail{
	background-color: #f6f6f6;
	width: 450px;
	display: inline-block;
	cursor: pointer;
}

.parent-comment-icon{
	float: left;
	margin-top: 10px;
	margin-left: 10px
}

.parent-comment-icon img{
	margin-top: 5px;
	border-radius: 50%;
	width: 30px;
}

.parent-comment-description{
	font-variant: normal;
	vertical-align: top;
	font-size: 16px;
	width: 100%;
	overflow: hidden;
	height: 44px;
	display: block;
	cursor: pointer;
}

.parent-comment-content{
	float:left;
	margin-left: 10px;
	margin-top: 10px;
	width: 395px;
}

.parent-comment-geo-time{
	opacity: 0.6
	font-variant: normal;
	vertical-align: top;
	display: inline-block;
	font-size: 12px;
	width: 100%;
	margin-top: 5px;
}

.parent-comment-close{
	float: right;
	font-size: 14px;
	margin-right: 5px;
	cursor: pointer;
	text-decoration: underline;
}

.parent-comment-geo{
    color: blue;
}

.parent-comment-time{
	margin-left: 10px;
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}
.embed-responsive.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive.embed-responsive-4by3 {
  padding-bottom: 75%;
}

