/*****************Home and General Styles**************/
.container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.sectionWrapper .leftContent img {
  float: right;
}

.sectionWrapper .iphone_img_center {
  padding: 75px 305px 0 0;
  right: 55%;
  position: absolute !important;
}

/**
 * HACK: hide the moon when screen width is very small, so that
 * avoid moon display on top of the intro phone img frame
 */
@media only screen and (max-width: 640px) {
   .moon {
     display: none;
   }
}
.moon {
  top: 30px;
  right: 50px;
  width: 180px;
  height: 180px;
  position: absolute;
  background-image: url(../img/index/moon.png); 
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.rightHeader{
  float: right;
  margin-top: 15px;
  margin-right: 30px;
}

.contact a{
  color: white;
  font-size: 16px;
  line-height: 22px;
  z-index: 99999;
}

.rightHeader ul li{
  float: left; 
  margin-left: 20px;
  cursor: pointer;
}

.rightContent .ninjr_brand {
  margin-top: 300px;
}

.rightContent .ninjr_title {
  font-size: 25px;
  font-style: normal;
  line-height: 40px;
  color: #FFF;
  margin-top: 10px;
}

.rightContent .ninjr_content{
  font-size: 25px;
  font-style: normal;
  line-height: 40px;
  color: rgb( 234, 255, 0);
}

.rightContent .ninjr_source {
  margin-left: -10px;
}

.rightContent .ninjr_source img{
  margin:10px 10px;
  cursor: pointer;
}

.section{
  font-size: 22px;
  padding: 70px 30px;
  width: 100%;
  height: 785px;
}

.section .sectionWrapper{
  margin: 0 auto;
  width: 85%;
  height: 100%;
  position: relative;
  max-width: 1000px;
}

.section h1{
  color: #056eda;
  font-weight: bold;
  font-size: 43px;
  margin-top: 300px;
}

.section .leftContent{
  float: left;
  text-align: right;
  padding-right: 15px;
  width: 50%;
}

.section .rightContent{
  float: right;
  padding-left: 15px;
  width: 50%;
}

.section .hightLightedMessage{
  color: #056eda;
}

.section #next{
  bottom: 10px;
  position: absolute;
  left: 49%;
}

.footer{
  background-color: #0387f3;
}

.footer{
  text-align: center;
}

.footer .header{
  color: #fff;
  font-size: 48px;
  padding-top: 20px;
}

.footer .yellowNinjr{
  color: rgb( 234, 255, 0 );
}

.footer a{
  font-size: 13px;
  color: #fff;
  margin: 0 10px;
}

.footer img{
  margin: 25px 15px;
  cursor: pointer; 
}

.footer .footerLinks{
  margin-top: 50px;
}

.footer .footerLinks img{
  width: 21px !important;
  height: 22px !important;
  margin: 0 15px 5px;
}

.footer .copyRight{
  color: #fff;
}

.androidInput, .androidInputFooter{
  border: 8px solid rgb(70, 70, 70); 
  height: 50px; 
  width: 200px; 
  font-size: 18px;
}

img.androidPlus, img.androidPlusFooter{
  margin-left: -3px; 
  margin-top: 21px;
  cursor: pointer;
}

.androidText, .androidTextFooter{
  color: white; 
  margin-top: -20px; 
  margin-left: 226px;
}

/*****************Section Sepecific Styles******************/

.section:nth-of-type(1) { 
  background-image: url(../img/index/section-1-background.png); 
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.section:nth-of-type(1) .leftContent {
  width: 40%;
}
.section:nth-of-type(1) .rightContent {
  width: 60%;
}

.section:nth-of-type(3) {
  padding-top: 100px;
  padding-bottom: 0px;
  height: 700px;
}
.section:nth-of-type(3) h1{
  margin-top: 260px;
}

.section:nth-of-type(odd) {background-color: #fff;}
.section:nth-of-type(odd) .rightContent {padding-left: 40px;}

.section:nth-of-type(even) {background-color: #f2f2f2;}
.section:nth-of-type(even) .leftContent{padding-right: 30px;}
.section:nth-of-type(even) .rightContent img{position: absolute;}

.section:nth-of-type(5) .leftContent {margin-top: -30px;}
.section:nth-of-type(5) .leftContent .message{float: right; text-align: center; margin-top: 100px; margin-right: 100px;}
.section:nth-of-type(5) .leftContent .message h1{margin-top: 70px;}

.section:nth-of-type(5) .rightContent img{margin-top: 135px;}
.section:nth-of-type(5) .rightContent .message {float: left; text-align: center; margin-left: 125px;}
.section:nth-of-type(5)  .rightContent .message h1{margin-top: 120px;}


/*****************Other Page (i.e. AboutUs) Styles******************/


