<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../templates/head.ejs%>
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/post.css" rel="stylesheet">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65315131-1', 'auto');
  ga('send', 'pageview');
</script>
</head>

<body>

<% include ../templates/postHeader.ejs%>


<!-- Insert Body here -->
<div class="container">

    <div class="starter-template">
        <%- body %>
    </div>

</div><!-- /.container -->

<% include ../templates/footer.ejs%>

</body>
</html>