<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="<%= post.og_image %>"/>
    <meta property="og:title" content="<%= post.og_title %>"/>
    <meta name="apple-itunes-app" content="app-id=968448971"/>

    <% include ../templates/head.ejs%>
    <link href="/stylesheets/post.css" rel="stylesheet">
    <!--
    <link href="/stylesheets/circle.player.css" rel="stylesheet">
    <script type="text/javascript" src="/lib/jquery/jquery.jplayer.min.js"></script>
	<script type="text/javascript" src="/lib/jquery/jquery.transform.js"></script>
	<script type="text/javascript" src="/lib/jquery/jquery.grab.js"></script>
	<script type="text/javascript" src="/lib/jquery/mod.csstransforms.min.js"></script>
	<script type="text/javascript" src="/lib/jquery/circle.player.js"></script>
    -->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65315131-1', 'auto');

      // The encrypted id portion of url /posts/<id> is not user-friendly for ga tracking
      // Hence, we send pageview explicitly with plain post id
      ga('send', 'pageview', {'page' : '/posts/<%= post.id %>'});
    </script>


</head>
<body>
<% include ../templates/postHeader.ejs%>

<!-- Insert Body here -->
<div class="container">
    <%- body %>
    <div style="position:fixed;
     bottom:30px;
     right:15px;"><a class="w-inline-block" href="https://itunes.apple.com/us/app/id968448971"><img class="ninjr-apple-store-download" src="http://uploads.webflow.com/56154a593ab93bd37a7d44b1/56184e6f4caf1fb95fac8cd8_DownloadButton.png"></div>
</div><!-- /.container -->

</body>
</html>